.review-form_wrap {
  margin-bottom: 5rem; }
  .review-form_wrap .page_title {
    margin-bottom: 25px;
    margin-top: 25px; }

#review-box {
  margin-top: 3rem; }
  #review-box .review-page .review__items {
    padding: 35px;
    background: #fff;
    margin-bottom: 2rem; }
    #review-box .review-page .review__items:last-child {
      margin-bottom: 0; }
    #review-box .review-page .review__items .review__name {
      font-family: "MuseoSansCyrl-900";
      font-size: 18px;
      margin-bottom: 25px; }
    #review-box .review-page .review__items .date {
      font-family: "MuseoSansCyrl-500";
      color: #565656; }

.review-form h2 {
  bottom: 25px; }
.review-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .review-form form label {
    display: none; }
  .review-form form .row-input {
    width: 48%; }
    .review-form form .row-input .form-group input {
      height: 40px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 0;
      box-shadow: none; }
  .review-form form .row-textarea {
    width: 48%; }
    .review-form form .row-textarea .form-group textarea {
      height: 150px;
      width: 100%; }
    .review-form form .row-textarea .form-bot .but-black {
      border: none;
      margin-top: 1rem; }

@media (max-width: 767px) {
  .review-form form .row-input {
    width: 100%; }
    .review-form form .row-input .form-group {
      width: 100%; }
      .review-form form .row-input .form-group input {
        display: block;
        width: 100%; }
  .review-form form .row-textarea {
    width: 100%;
    margin-top: 25px; } }
@media (max-width: 335px) {
  .review-form form .row-input {
    width: 100%; }
    .review-form form .row-input .form-group {
      width: 100%; }
      .review-form form .row-input .form-group input {
        display: block;
        width: 100%; }
  .review-form form .row-textarea {
    width: 100%;
    margin-top: 25px; }
    .review-form form .row-textarea .form-bot .g-recaptcha {
      transform: scale(0.8, 0.8) translateX(-30px); } }
.reviews-wrap .review-product .review-product__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .reviews-wrap .review-product .review-product__header h2 {
    font-size: 26px;
    color: #232323;
    font-family: "Georgia-Bold"; }
  .reviews-wrap .review-product .review-product__header a {
    font-size: 16px;
    color: #232323;
    font-family: "MuseoSansCyrl-500";
    display: flex;
    align-items: center; }
    .reviews-wrap .review-product .review-product__header a span {
      text-decoration: underline; }
    .reviews-wrap .review-product .review-product__header a i {
      font-size: 10px;
      padding-top: 3px;
      display: block;
      margin-left: 17px;
      color: #737373; }
.reviews-wrap .review-product .review-page .review-page__items {
  background: #fff;
  margin-bottom: 29px;
  padding: 40px 40px 50px; }
  .reviews-wrap .review-product .review-page .review-page__items .review-page__info {
    width: 70%; }
    .reviews-wrap .review-product .review-page .review-page__items .review-page__info .review-page__name {
      margin-bottom: 10px; }
      .reviews-wrap .review-product .review-page .review-page__items .review-page__info .review-page__name .name {
        font-family: "MuseoSansCyrl-900";
        color: #232323;
        margin-right: 29px; }
      .reviews-wrap .review-product .review-page .review-page__items .review-page__info .review-page__name .date {
        color: #7c7c7c;
        font-family: "MuseoSansCyrl-100"; }
  .reviews-wrap .review-product .review-page .review-page__items .review-page__link {
    font-size: 16px;
    color: #232323;
    font-family: "MuseoSansCyrl-500";
    text-decoration: underline;
    margin-top: 15px; }
.reviews-wrap .review-product .but-black {
  border: none; }

/************/
@media (max-width: 640px) {
  .reviews-wrap .review-product .review-page .review-page__items .review-page__info {
    width: 100%; } }

/*# sourceMappingURL=index.css.map */
