.slide-box {
  margin-top: 10px; }
  .slide-box .slide-box__item {
    position: relative; }
    .slide-box .slide-box__item .slide-box__img {
      overflow: hidden;
      border-radius: 10px; }
      .slide-box .slide-box__item .slide-box__img .slide_md_img {
        width: 100%; }
      .slide-box .slide-box__item .slide-box__img .slide_xs_img {
        display: none; }
    .slide-box .slide-box__item .slide-box__text {
      position: absolute;
      top: 50px;
      left: 69px;
      color: #fff; }
      .slide-box .slide-box__item .slide-box__text .slide-box__name {
        font-size: 40px;
        font-family: "Georgia-Bold";
        line-height: 1; }
        .slide-box .slide-box__item .slide-box__text .slide-box__name .turk {
          font-size: 68px; }
        .slide-box .slide-box__item .slide-box__text .slide-box__name .quality {
          font-size: 34px; }
      .slide-box .slide-box__item .slide-box__text .slide-box__desc {
        font-family: "MuseoSansCyrl-100";
        margin-top: 20px;
        margin-bottom: 25px; }
  .slide-box .slick-prev {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.5) url("../images/l.svg") no-repeat center center;
    background-size: 22px 32px;
    border-radius: 50%;
    left: -71px; }
    .slide-box .slick-prev:hover {
      opacity: 1;
      box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
      transition: all .4s; }
  .slide-box .slick-next {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.5) url("../images/r.svg") no-repeat center center;
    background-size: 22px 32px;
    border-radius: 50%;
    right: -71px; }
    .slide-box .slick-next:hover {
      opacity: 1;
      box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
      transition: all .4s; }
  .slide-box .slick-dots {
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; }
    .slide-box .slick-dots li {
      width: 44px;
      height: 2px;
      background: #fff;
      margin-right: 18px; }
      .slide-box .slick-dots li.slick-active {
        background: #343434; }
      .slide-box .slick-dots li:last-child {
        margin-right: 0; }

@media (max-width: 1199px) {
  .slide-box .slide-box__item .slide-box__img {
    position: relative;
    width: 100%;
    height: 400px; }
    .slide-box .slide-box__item .slide-box__img .slide_md_img {
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; } }
@media (max-width: 650px) {
  .slide-box .slide-box__item .slide-box__img {
    position: relative;
    width: 100%;
    height: 400px; }
    .slide-box .slide-box__item .slide-box__img .slide_md_img {
      display: none; }
    .slide-box .slide-box__item .slide-box__img .slide_xs_img {
      display: block;
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
  .slide-box .slide-box__item .slide-box__text {
    left: 15px; }
    .slide-box .slide-box__item .slide-box__text .slide-box__name {
      font-size: 30px;
      padding: 1rem;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
      .slide-box .slide-box__item .slide-box__text .slide-box__name .turk {
        font-size: 50px; }
      .slide-box .slide-box__item .slide-box__text .slide-box__name .quality {
        font-size: 24px; }
    .slide-box .slide-box__item .slide-box__text .slide-box__desc {
      padding: 1rem;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
      margin-top: 0;
      font-family: "MuseoSansCyrl-500"; }
    .slide-box .slide-box__item .slide-box__text .slide-box__button {
      padding-left: 1rem; } }
@media (max-width: 575px) {
  .slide-box .slide-box__item .slide-box__text {
    left: 5px; }
    .slide-box .slide-box__item .slide-box__text .slide-box__name {
      font-size: 25px;
      padding: 1rem; }
      .slide-box .slide-box__item .slide-box__text .slide-box__name .turk {
        font-size: 40px; }
      .slide-box .slide-box__item .slide-box__text .slide-box__name .quality {
        font-size: 20px; } }
@media (max-width: 480px) {
  .slide-box .slide-box__item .slide-box__img {
    height: 350px;
    overflow: hidden; }
    .slide-box .slide-box__item .slide-box__img .slide_xs_img {
      width: 130%;
      height: 130%; }
    .slide-box .slide-box__item .slide-box__img .slide-box__text {
      left: 5px; }
      .slide-box .slide-box__item .slide-box__img .slide-box__text .slide-box__name {
        font-size: 25px;
        padding: 1rem; }
        .slide-box .slide-box__item .slide-box__img .slide-box__text .slide-box__name .turk {
          font-size: 40px; }
        .slide-box .slide-box__item .slide-box__img .slide-box__text .slide-box__name .quality {
          font-size: 20px; } }
.main {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 80px;
  margin-top: 5px; }
  .main .ms-container {
    justify-content: space-between; }
    .main .ms-container main {
      width: 500px;
      display: flex;
      flex-direction: column; }
      .main .ms-container main .main__head {
        font-size: 35px;
        font-family: "Georgia-Bold";
        color: #232323;
        margin-bottom: 35px; }
      .main .ms-container main .main__text {
        font-size: 16px;
        color: #232323;
        font-family: "MuseoSansCyrl-100";
        line-height: 1.5; }
      .main .ms-container main .main__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: auto; }
        .main .ms-container main .main__buttons .but-black {
          width: 235px; }
        .main .ms-container main .main__buttons .bordered {
          width: 235px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #232323;
          border: 1px solid #ccc;
          height: 51px; }
    .main .ms-container .widget-box {
      width: 572px; }
      .main .ms-container .widget-box .brend-slider .brend-slider__item .brend-slider-item__img {
        width: calc(100% - 22px); }
        .main .ms-container .widget-box .brend-slider .brend-slider__item .brend-slider-item__img:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          top: 0;
          left: 0; }
        .main .ms-container .widget-box .brend-slider .brend-slider__item .brend-slider-item__img:after {
          content: "";
          position: absolute;
          width: 97%;
          height: 96%;
          top: 50%;
          left: 1.5%;
          transform: translate(0, -50%);
          border: 1px solid rgba(255, 255, 255, 0.5); }
        .main .ms-container .widget-box .brend-slider .brend-slider__item .brend-slider-item__img .rd {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: .4; }
          .main .ms-container .widget-box .brend-slider .brend-slider__item .brend-slider-item__img .rd img {
            max-width: 100%; }
      .main .ms-container .widget-box .brend-slider .slick-prev {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -94px;
        left: 0;
        top: unset;
        transition: all .4s; }
        .main .ms-container .widget-box .brend-slider .slick-prev:hover {
          background: #232323;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
          .main .ms-container .widget-box .brend-slider .slick-prev:hover::before {
            background: transparent url("../images/l2.svg") center center no-repeat;
            background-size: cover; }
        .main .ms-container .widget-box .brend-slider .slick-prev::before {
          width: 9px;
          height: 17px;
          background: transparent url("../images/l.svg") center center no-repeat;
          background-size: cover; }
      .main .ms-container .widget-box .brend-slider .slick-next {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -94px;
        top: unset;
        left: 60px;
        right: unset;
        transition: all .4s; }
        .main .ms-container .widget-box .brend-slider .slick-next:hover {
          background: #232323;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
          .main .ms-container .widget-box .brend-slider .slick-next:hover::before {
            background: transparent url("../images/r2.svg") center center no-repeat;
            background-size: cover; }
        .main .ms-container .widget-box .brend-slider .slick-next::before {
          width: 9px;
          height: 17px;
          background: transparent url("../images/r.svg") center center no-repeat;
          background-size: cover; }
      .main .ms-container .widget-box .brend-slider-nav-wrap {
        display: flex;
        justify-content: flex-end;
        margin-top: -44px; }
        .main .ms-container .widget-box .brend-slider-nav-wrap .brend-slider-nav {
          width: 460px; }
          .main .ms-container .widget-box .brend-slider-nav-wrap .brend-slider-nav .brend-slider-nav__item {
            display: flex;
            justify-content: flex-end; }

/*******************/
@media (max-width: 1120px) {
  .main {
    padding-top: 30px; }
    .main .ms-container .widget-box {
      width: 100%;
      display: flex; }
      .main .ms-container .widget-box .brend-slider {
        width: 550px; }
        .main .ms-container .widget-box .brend-slider .slick-prev {
          left: calc(100% + 20px);
          bottom: 0; }
        .main .ms-container .widget-box .brend-slider .slick-next {
          left: calc(100% + 90px);
          bottom: 0; }
        .main .ms-container .widget-box .brend-slider .brend-slider__item .brend-slider-item__img {
          width: 100%; }
      .main .ms-container .widget-box .brend-slider-nav-wrap {
        width: 200px;
        margin-top: -2px;
        margin-left: 20px; }
        .main .ms-container .widget-box .brend-slider-nav-wrap .brend-slider-nav .brend-slider-nav__item img {
          width: 100%; }
    .main .ms-container main {
      width: 100%;
      margin-bottom: 2rem; }
      .main .ms-container main .main__text {
        padding-right: 50px;
        margin-bottom: 2rem; }
      .main .ms-container main .main__buttons {
        width: 490px; } }
@media (max-width: 767px) {
  .main .ms-container .widget-box .brend-slider {
    width: 100%; }
    .main .ms-container .widget-box .brend-slider .slick-prev {
      left: 0;
      bottom: -94px; }
    .main .ms-container .widget-box .brend-slider .slick-next {
      left: 70px;
      bottom: -94px; }
    .main .ms-container .widget-box .brend-slider .brend-slider__item .brend-slider-item__img {
      width: 100%; }
      .main .ms-container .widget-box .brend-slider .brend-slider__item .brend-slider-item__img img {
        width: 100%; }
  .main .ms-container .widget-box .brend-slider-nav-wrap {
    display: none; }
  .main .ms-container main .main__head {
    font-size: 30px; }
  .main .ms-container main .main__buttons {
    width: 490px; } }
@media (max-width: 575px) {
  .main .ms-container .widget-box .brend-slider .slick-prev {
    left: 0;
    bottom: -90px; }
  .main .ms-container .widget-box .brend-slider .slick-next {
    left: 70px;
    bottom: -90px; }
  .main .ms-container main .main__head {
    font-size: 30px; }
  .main .ms-container main .main__text {
    padding-right: 0; }
  .main .ms-container main .main__buttons {
    width: 100%; } }
@media (max-width: 507px) {
  .main .ms-container main .main__head {
    font-size: 25px;
    margin-bottom: 25px; }
  .main .ms-container main .main__buttons {
    flex-direction: column; }
    .main .ms-container main .main__buttons .but-black {
      margin-bottom: 1rem; } }
.catalog-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }
  .catalog-main .catalog-main__item {
    background: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 262px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 36px;
    text-decoration: none;
    overflow: hidden;
    transition: all .4s; }
    .catalog-main .catalog-main__item:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
      .catalog-main .catalog-main__item:hover .catalog-main_link {
        opacity: 1;
        z-index: 100;
        transition: all .4s; }
    .catalog-main .catalog-main__item .catalog-main__desc {
      position: relative;
      z-index: 100;
      max-width: 149px;
      font-family: "MuseoSansCyrl-100";
      color: #434343;
      line-height: 1.2; }
    .catalog-main .catalog-main__item .catalog-main__name {
      font-family: "MuseoSansCyrl-900";
      font-size: 23px;
      color: #232323;
      position: relative;
      z-index: 100; }
    .catalog-main .catalog-main__item .catalog-main__img {
      position: absolute;
      right: 0;
      bottom: 0; }
    .catalog-main .catalog-main__item .catalog-main_link {
      margin-top: auto;
      font-family: "Circe-Regular";
      color: #343434;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: all .8s; }
      .catalog-main .catalog-main__item .catalog-main_link span {
        text-decoration: underline;
        margin-right: 7px; }

@media (max-width: 1050px) {
  .catalog-main {
    grid-gap: 15px; }
    .catalog-main .catalog-main__item .catalog-main__img {
      width: 100px; }
      .catalog-main .catalog-main__item .catalog-main__img img {
        width: 100%; } }
@media (max-width: 991px) {
  .catalog-main .catalog-main__item .catalog-main__name {
    font-size: 18px; } }
@media (max-width: 767px) {
  .catalog-main {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; }
    .catalog-main .catalog-main__item {
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 20px; }
      .catalog-main .catalog-main__item:last-child {
        grid-column: span 2; }
      .catalog-main .catalog-main__item .catalog-main__name {
        font-size: 18px; } }
@media (max-width: 480px) {
  .catalog-main {
    margin-top: 3rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px; }
    .catalog-main .catalog-main__item .catalog-main__img {
      width: 172px; }
    .catalog-main .catalog-main__item:last-child {
      grid-column: span 1; } }
@media (max-width: 385px) {
  .catalog-main .catalog-main__item .catalog-main__img {
    width: 120px; } }
.brend-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 42px; }

.product-section .product-box .slick-prev {
  width: 55px;
  height: 55px;
  background: rgba(240, 240, 240, 0.5) url("../images/l.svg") no-repeat center center;
  background-size: 22px 32px;
  border-radius: 50%;
  left: -61px;
  top: 40%;
  opacity: .7; }
  .product-section .product-box .slick-prev:hover {
    opacity: 1;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all .4s; }
.product-section .product-box .slick-next {
  width: 55px;
  height: 55px;
  background: rgba(240, 240, 240, 0.5) url("../images/r.svg") no-repeat center center;
  background-size: 22px 32px;
  border-radius: 50%;
  right: -56px;
  top: 40%;
  opacity: .7; }
  .product-section .product-box .slick-next:hover {
    opacity: 1;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all .4s; }
.product-section .product-section__h2 {
  font-size: 35px;
  font-family: "Georgia-Bold";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #232323;
  margin-bottom: 33px;
  position: relative; }
  .product-section .product-section__h2 a {
    font-family: "MuseoSansCyrl-500";
    text-decoration: underline;
    color: #232323;
    position: absolute;
    right: 15px; }

.product-box__item {
  width: 269px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px; }
  .product-box__item.product-viewed::after {
    background: #eaeaea; }
  .product-box__item.product-viewed .product-box__info {
    background: #eaeaea; }
  .product-box__item::before {
    transition: all .4s; }
  .product-box__item::after {
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    background: #f4f4f4; }
  .product-box__item .product-item__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-bottom: 5px;
    position: relative; }
    .product-box__item .product-item__head .best {
      width: 76px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc; }
      .product-box__item .product-item__head .best.sale {
        width: 94px;
        background: #b35573;
        color: #fff;
        border: none; }
  .product-box__item .product-box__img {
    width: 240px;
    height: 342px;
    position: relative; }
    .product-box__item .product-box__img img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .product-box__item .product-box__img .discount_box {
      width: 44px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 14px;
      font-family: "MuseoSansCyrl-100";
      background: #b35573;
      left: 0;
      bottom: 12px; }
  .product-box__item .product-box__info {
    width: 100%;
    background: #f4f4f4;
    transition: all .4s; }
    .product-box__item .product-box__info.viewed-item {
      background: #eaeaea; }
    .product-box__item .product-box__info .product-box__name {
      font-family: "MuseoSansCyrl-100";
      color: #232323;
      margin-top: 19px;
      margin-bottom: 10px;
      line-height: 1; }
    .product-box__item .product-box__info .product-box__bottom .prices-spans {
      display: flex;
      align-items: center; }
      .product-box__item .product-box__info .product-box__bottom .prices-spans .product-price__result {
        font-size: 20px;
        font-family: "MuseoSansCyrl-900"; }
        .product-box__item .product-box__info .product-box__bottom .prices-spans .product-price__result.sale-price {
          color: #b35573; }
      .product-box__item .product-box__info .product-box__bottom .prices-spans .product-price__old {
        order: -1;
        margin-right: 20px;
        color: #333;
        font-family: "MuseoSansCyrl-100";
        text-decoration: line-through; }
    .product-box__item .product-box__info .product-box__bottom .by-order {
      opacity: 0;
      transition: all .4s; }
      .product-box__item .product-box__info .product-box__bottom .by-order .properties {
        display: flex;
        font-family: "MuseoSansCyrl-100";
        margin-top: 5px; }
        .product-box__item .product-box__info .product-box__bottom .by-order .properties .key {
          color: #6e6e6e;
          margin-right: 10px; }
        .product-box__item .product-box__info .product-box__bottom .by-order .properties .value {
          color: #232323; }
      .product-box__item .product-box__info .product-box__bottom .by-order .by-order__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px; }
        .product-box__item .product-box__info .product-box__bottom .by-order .by-order__flex .product-box__link {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #e1e1e1; }
          .product-box__item .product-box__info .product-box__bottom .by-order .by-order__flex .product-box__link svg {
            width: 17px;
            height: 11px;
            fill: #565656; }
        .product-box__item .product-box__info .product-box__bottom .by-order .by-order__flex .product-button__item .but-add-cart {
          width: 132px;
          height: 40px;
          padding: 0;
          border: none;
          display: flex;
          align-items: center;
          box-shadow: none; }
          .product-box__item .product-box__info .product-box__bottom .by-order .by-order__flex .product-button__item .but-add-cart:hover {
            color: #fff; }
          .product-box__item .product-box__info .product-box__bottom .by-order .by-order__flex .product-button__item .but-add-cart svg {
            margin-right: 14px; }

/**************************************/
@media (max-width: 1100px) {
  .product-box__item {
    margin: 0 auto; }

  .product-section .product-box .slick-next {
    right: 0; }
  .product-section .product-box .slick-prev {
    left: 0; } }
@media (min-width: 640px) {
  .product-box__item:hover {
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all .4s; }
    .product-box__item:hover::before {
      position: absolute;
      content: "";
      width: 289px;
      height: 100%;
      left: -10px;
      top: 0;
      background: #fff; }
    .product-box__item:hover::after {
      background: #fff;
      z-index: 100; }
    .product-box__item:hover .product-box__info {
      background: #fff;
      position: relative;
      z-index: 300; }
      .product-box__item:hover .product-box__info.viewed-item {
        background: #fff; }
      .product-box__item:hover .product-box__info .by-order {
        opacity: 1 !important; } }
@media (max-width: 650px) {
  .product-section .product-section__h2 {
    flex-wrap: wrap;
    margin-bottom: 25px; }
    .product-section .product-section__h2 span {
      font-size: 30px; }
    .product-section .product-section__h2 a {
      position: static;
      width: 100%;
      text-align: center;
      margin-top: 15px; } }
@media (max-width: 640px) {
  .product-box__item {
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all .4s; }
    .product-box__item.product-viewed::after {
      background: #fff; }
    .product-box__item::before {
      position: absolute;
      content: "";
      width: 289px;
      height: 100%;
      left: -10px;
      top: 0;
      background: #fff; }
    .product-box__item::after {
      background: #fff;
      z-index: 100; }
    .product-box__item .product-box__info {
      background: #fff;
      position: relative;
      z-index: 300; }
      .product-box__item .product-box__info.viewed-item {
        background: #fff; }
      .product-box__item .product-box__info .by-order {
        opacity: 1 !important; }

  .product-section .product-box {
    margin-bottom: 100px; } }
@media (max-width: 338px) {
  .product-section .product-section__h2 span {
    font-size: 25px; } }

/*# sourceMappingURL=index.css.map */
