.category-content{
	.product-box__item{
		margin-left: 0;
		}
	h1{
		margin-bottom: 40px;
		font-size: 36px;
		font-family: $g;
		}
}
.category-box{
	.category-box__sidebar{
		float: left;
		width: 270px;
	}
	.category-box__content{
		float: right;
		width: calc(100% - 300px);
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

.catalog-controls{
	width: 100%;
	height: 50px;
	margin: 0 0 30px;
	background:rgba(255,255,255,.7);
	.catalog-controls__sort{
		float: left;
		width: calc(100% - 270px);
		height: 100%;
	}
	.catalog-controls__res{
		float: right;
		width: 250px;
		height: 100%;
		// border: 1px solid #e6e6e6;
		.summary{
			float: left;
			width: calc(100% - 73px);
			color: #232323;
			font-size: 16px;
			font-family: Circe-Light;
			padding: 0 20px;
			line-height: 48px;
			text-align: right;
		}
		.template-product{
			float: right;
			width: 73px;
			text-align: center;
			padding: 13px 0px;
			.template-product__grid, .template-product__list{
				display: inline-block;
				vertical-align: middle;
				height: 19px;
				margin: 0 4px;
				svg{
					// width: 100%;
					height: 100%;
					path{
						fill: #c1c1c1;
						transition: all .3s ease;
					}
				}
				&.active, &:hover{
					cursor: pointer;
					svg{
						path{
							fill: #232323;
						}
					}
				}
			}
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

.sort-box{
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
	color: #232323;
	font-size: 16px;
	font-family: Circe-Light;
	line-height: 1.1;
	.sort-box__header{
		position: relative;
		width: 200px;
		padding: 0 0 0 25px;

	}
	.sort-box__body{
		width: 180px;
	}
}
.sort-box-wrapper{
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
	z-index: 10;
    .sort-box-wrapper__header{
		display: block;
		width: 100%;
    	cursor: pointer;
    	padding: 0px 20px 0 10px;
    	position: relative;
    	&.view-loading {
			background-position-y: 0px !important;
			background-position-x: 5px !important;
		}
    	&:after {
		    content: "";
		    width: 11px;
		    height: 6px;
		    position: absolute;
		    top: 50%;
		    right: 0;
		    // margin-top: -3px;
		    opacity: 0.6;
		    background: url('../images/icon/icon-arrow.png') no-repeat;
		    background-size: containe;
		}
    }
	.sort-box-wrapper__body{
		position: absolute;
		z-index: -1;
	    top: 48px;
	    left: -1px;
	    opacity: 0;
	    width: calc(100% + 2px);
	    max-height: 0;
        margin: 0px;
	    padding: 0 15px;
		border: 1px solid #dcdcdc;
		border-top: none;
	    background: #fff;
	    overflow: hidden;
	    list-style: none;
	    transition: all .3s lenear;
	    .sort-box-wrapper__link{
	    	position: relative;
	    	padding: 0 0 12px;
	    	&:last-child{
	    		padding: 0;
	    	}
	    	&.active, &:hover{
	    		color: #9a49d0;
	    	}
	    }
	}
	.sort-box-wrapper__link{
		display: block;
		cursor: pointer;
	}
	&.active {
		.sort-box-wrapper__header{
			&:after {
			    opacity: 1;
			    transition: all .3s lenear;
			}
		}
		.sort-box-wrapper__body{
			z-index: 5;
			opacity: 1;
			padding: 10px 15px 20px;
		    max-height: none;
		   transition: all .3s lenear;
		}
	}
	&:hover {
		.sort-box-wrapper__header{
			color: #9a49d0;
			&:after {
			    opacity: 1;
			}
		}
	}
}

@media (max-width: 1300px){
	.category-box{
		.category-box__sidebar{
			width: 235px;
		}
		.category-box__content{
			width: calc(100% - 260px);
		}
	}
	.catalog-controls{
		width: 100%;
		.catalog-controls__sort{
			width: calc(100% - 240px);
		}
		.catalog-controls__res{
			width: 220px;
			.summary{
				width: calc(100% - 73px);
				font-size: 14px;
				padding: 0 15px;
				line-height: 48px;
			}
			.template-product{
				width: 73px;
				padding: 13px 0px;
				.template-product__grid, .template-product__list{
					height: 19px;
					margin: 0 4px;
				}
			}
		}
	}

	.sort-box{
		font-size: 14px;
		.sort-box__header{
			width: 180px;
			padding: 0 0 0 20px;
		}
		.sort-box__body{
			width: 165px;
		}
	}
}

@media (max-width: 1100px){
	.list-view{
		 .product-list{
		 	justify-content: space-around;
			 .product-box__item{
				width: 269px;
				margin-right: 0;
			 	}
		 	}
		}
	.category-box{
		.category-box__sidebar{
			float: none;
			width: 100%;
		}
		.category-box__content{
			float: none;
			width: 100%;
		}
	}
	.sidebar-box{
		position: relative;
		z-index: 1050;
		display: block;
		#store-filter{
			position: fixed;
			z-index: 1052;
			top: 0;
			left: -280px;
			width: 280px;
			height: 100vh;
			background: #fff;
			opacity: 0;
			pointer-events: none;
			transition: all .3s lenear;
			max-height: 100%;
			overflow: hidden;
			overflow-y: auto;
			padding: 0 15px;
			&.active{
		    	left: 0;
		    	opacity: 1;
				pointer-events: all;
				transition: all .3s;
				.filter-content{
					.filter-block{
						padding: 20px 0 10px;
						}
					}
	    	}

		}
		.sidebar-box__notFind{
			display: none;
		}
		&.active{
	    	&:after{
				pointer-events: all;
			    z-index: 1040;
				background: rgba(0, 0, 0, 0.6);
			}
	    }
		&:after{
	    	content: '';
	    	display: block;
	    	position: fixed;
	    	z-index: -1040;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
	    	pointer-events: none;
	    	background: rgba(0, 0, 0, 0);
	    	transition: all .3s lenear;
	    }
	}
}

@media (max-width: 768px){
	.catalog-controls{
		.catalog-controls__sort{
			width: calc(100% - 90px);
		}
		.catalog-controls__res{
			width: 90px;
			.summary{
				width: 100%;
				font-size: 14px;
				padding: 0 15px 0 10px;
				line-height: 48px;
			}
			.template-product{
				display: none;
			}
		}
	}
}

@media (max-width: 640px){
	.list-view{
		 .product-list{
		 	justify-content: space-around;
			 .product-box__item{
				margin-bottom: 1rem;
				margin-right: 0;
			 	}
		 	}
		}
	.catalog-controls{
		height: 40px;
		.catalog-controls__res{
			.summary{
				line-height: 38px;
			}
		}
	}

	.sort-box{
		font-size: 14px;
		height: 40px;
		.sort-box__header{
			width: 155px;
			padding: 0 0 0 15px;
		}
	}

	.sort-box-wrapper{
		height: 40px;
		.sort-box-wrapper__body{
			top: 38px;
		}
	}
}

@media (max-width: 615px){
	.list-view{
		 .product-list{
		 	flex-direction: column;
		 	align-items: center;
		 	justify-content: space-around;
			 .product-box__item{
				margin-bottom: 1rem;
				margin-right: 0;
			 	}
		 	}
		}
	}

@media (max-width: 480px){
	.catalog-controls{
		position: relative;
		height: 40px;
		.catalog-controls__sort{
			width: 100%;
		}
		.catalog-controls__res{
			width: 100%;
			height: 0;
			.summary{
			    position: absolute;
			    top: -59px;
			    right: 0px;
			    width: auto;
			    line-height: 38px;
				border: 1px solid #dcdcdc;
			}
		}
	}
	.sort-box{
		font-size: 14px;
		height: 40px;
		.sort-box__header{
			width: 160px;
			padding: 0 0 0 15px;
		}
		.sort-box__body{
			width: calc(100% - 160px);
		}
	}
	.sort-box-wrapper{
		.sort-box-wrapper__header{
		    padding: 0px 15px;
		    &:after{
		    	width: 9px;
			    height: 5px;
				margin-top: -3px;
		    	right: 10px;
		    }
		}
	}
}