.filter-content{
	.but-reset{
		background: transparent;
		border: none;
		padding: 0;
		span{
			display: inline-block;
			vertical-align: middle;
			color: #4a4a4a;
			font-size: 16px;
			font-family: Circe-Light;
			padding: 0 3px 0 0;
		}
		svg{
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 17px;
			transition:all .3s linear;
			path{
				fill: rgba(73, 73, 73, 0.89);
			}
		}
		&:hover, &:focus, &:active{
			outline: 0;
			box-shadow:0;
			span{
				color: #9a49d0;
			}
			svg{
				transform:rotate(30deg);
				path{
					fill: #9a49d0;
				}
			}
		}
	}
	.but-filter{
		width: 100%;
		font-size: 14px;
		padding: 0;
		&:hover, &:focus, &:active{
			outline: 0;
			box-shadow: none;
		}
	}
	input, textarea{
		width: 100%;
		height: 33px;
		border: 1px solid rgba(230, 230, 230, 1);
		background: #fff;
		color: #383838;
		font-size: 14px;
		font-family: Circe-Light;
		border-radius:0;
		box-shadow: none;
		&::placeholder{
			color: rgba(74, 74, 74, 0.8);
		}

	}
	.filter-block-button{
		button{
			width: 100%;
			border: none;
			margin-top: 25px;
			margin-bottom: 20px;
			&:hover, &:focus, &:active{
				outline: 0;
				border: none;
			}
		}
	}
}
.ajax-loading{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	// opacity: 0;
	z-index: 100;
	pointer-events: none;

	&:after{
		content: '';
		display: block;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4) url('../images/ajax-loading.gif') center no-repeat !important;
	}
	&.active{
		opacity: 1;
	}
}
.list-view-loading{
	background: url('../images/loading.gif') no-repeat !important;
	background: transparent !important;
    background-position-y: 57px !important;
    background-position-x: 0 !important;
}

.but-menu-filter{
	display: block;
	vertical-align: top;
	width: 125px;
	height: 40px;
	line-height: 39px;
	color: #232323;
	font-size: 14px;
	font-family: $m500;
	padding: 0 10px;
    text-align: center;
	border: 1px solid #e6e6e6;
	margin: 0 0 18px;
	i{
		margin: 0 5px 0 0;
	}
	&:hover, &:focus, &:active{
		outline: 0;
		box-shadow: none;
		color: #9a49d0;
	}
	@media (min-width: 1101px){
		display: none;
	}
}

/* Блок для фильтра */
.filter-attributes__item{
	margin-top: 25px!important;
	.filter-attributes__name{
		color: #232323;
		font-family: $m900;
		font-size: 16px;
		}
	.filter-block__body{
		.checkbox{
			display: flex;
			padding-left: 0;
			input{
				display: none;
				&:checked + label::after{
					display: block;
					}
				}
			label{
				position: relative;
				padding-left: 30px;
				&::before{
					position: absolute;
					content:"";
					width: 14px;
					height: 14px;
					border: 1px solid #ccc;
					border-radius: 50%;
					top: 50%;
					left: 0;
					transform:translate(0,-50%);
					}
					&::after{
						position: absolute;
						content:"";
						width: 8px;
						height: 8px;
						background:#232323;
						border-radius: 50%;
						top: 50%;
						left: 3px;
						transform:translate(0,-50%);
						display: none;
						}
				}
			}
		}
	}
.filter-block{
	margin: -1px 0px 0px;
	padding: 23px;
	background: rgba(255,255,255,.7);
	&.price{
		margin-top: 24px;
		}
	.filter-block__header{
		color: #232323;
		font-size: 16px;
		font-family: $m900;
		line-height: 1.1;
		padding: 0 0 16px;
	}
	.filter-block__body{

	}
	.filter-block__item{
		color: #232323;
		font-size: 16px;
		font-family: Circe-Light;
		line-height: 1.1;
		padding: 0 0 13px;
	}
	.filter-block__more{
		position: relative;
		color: rgba(35, 35, 35, 1);
		font-size: 14px;
		font-family: $m500;
		line-height: 1.1;
		text-decoration: none;
		display: inline-block;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgba(35, 35, 35, 0.7);
		}
	}
	&.filter-block-header{
		min-height: 50px;
		padding: 0;
		.filter-block__header, .filter-block__body{
			width: 100%;
		}
		.filter-block__body{
			width: 100%;
			.but-black{
				width: 100%;
				border: none;
				}
		}
	}
  &.filter-block__categoryes{
  	background:transparent;
  	padding: 0;
  	margin-bottom: 20px;
	.filter-block__list{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		.filter-block__link{
			color: #232323;
			text-decoration: underline;
			font-family: $m500;
			margin-left: auto;
			&.active{
				position: absolute;
				top: 0;
				right: 0;
				}
			}
		.category-list-filter__item{
			margin-right: 15px;
			&::last-child{
				margin-right: 0;
				}
			input{
				display: none;
				}
			label{
				padding: 10px 15px;
				border: 1px solid #c5c5c5;
				font-family: $m500;
				font-weight: normal;
				color: #4b4b4b;
				border-radius: 20px;
				cursor: pointer;
				}
			}
		}
  	}
}

/* Категории */
.category-list-filter{
	margin: 0;
	padding: 0;
	list-style-type: none;
	.category-list-filter__item{
		a{
			color: #232323;
		}
		.category-list-filter__name{
			font-family: $m100;
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 54px);
		}
		.category-list-filter__count{
			display: inline-block;
			vertical-align: top;
			width: 50px;
			color: #a3a3a3;
			text-align: right;
			letter-spacing: 1px;
		}
		&:hover{
			// font-family: Circe-Bold;
			a{
				color: #b35573;
			}
			.category-list-filter__count{
				color: #b35573;
			}
		}
	}
}

/* Цена */
.filter-block-price{
	margin: 0 0 15px;
	input{
		display: inline-block;
		vertical-align: top;
		width: calc(50% - 8px);
		margin: 0 4px 0 0;
		&:last-child{
			margin: 0 0 0 4px;
		}
	}
}
/* Чекбоксы */
.filter-checkbox{
	display: block;
	min-height: 13px;
	margin: 0;
	padding: 0;
	input[type="checkbox"]{
	    &:not(:checked), &:checked{
	        position: absolute;
	        left: -9999px;
	        & + label {
	            position: relative;
		        font-weight: normal;
                margin-bottom: 0;
	            padding: 0 0 0 32px;
	            cursor: pointer;
	            &:before {
	                content: '';
	                position: absolute;
	                left: 3px;
	                top: 5px;
	                width: 7px;
	                height: 7px;
	                border: none;
	                opacity: 0;
	                background: #9a49d0;
	                border-radius: 0;
	                transition:all .3s linear;
	            }
	            &:after {
	                content: '';
	                position: absolute;
	                left: 0px;
	                top: 2px;
	                width: 13px;
	                height: 13px;
	                border: 1px solid rgba(197, 197, 197, 1);
	                background: transparent;
	               border-radius:0;
	               transition:all .3s linear;
	            }
	        }
	    }
	    &:not(:checked){
	        & + label {
	            &:before {
					opacity: 0;
				}
	        }
	    }
	    &:checked{
	        & + label {
	            &:before {
					opacity: 1;
				}
				&:after {
					border-color: #9a49d0;
				}
	        }
	    }
	}
}

/* Выбранные фильтры */
.selected-filters{
	width: 100%;
	// min-height: 50px;
	margin: 0 0 0 -15px;
	.label{
		position: relative;
    	display: inline-block;
    	vertical-align: middle;
	    white-space: normal;
	    font-weight: normal;
	    background: transparent;
	    color: #232323;
	    font-size: 14px;
    	font-family: Circe-Light;
        padding: 0 30px 11px 0;
	    line-height: 1.0;
	    text-align: center;
        -webkit-appearance: listbox;
    	cursor: pointer;
	    border-radius:0;
	    transition:all .3s linear;
	    &:after{
	    	content: '';
	    	position: absolute;
    	    right: 15px;
    		top: 2px;
    		display: block;
		    width: 8px;
		    height: 8px;
		    background: url('../images/icon/icon-close.png') no-repeat;
		    background-size:contain;
	    }
	    &:hover{
	    	cursor: pointer;
	    	background: transparent;
	    }
	}
	.reset-filter{
		display: inline-block;
		vertical-align: middle;
    	background: #b35573;
		color: #fff;
		font-size: 14px;
		font-family: $m500;
		line-height: 1.0;
		padding: 5px 18px 4px;
		margin: 0 0 11px;
    	border: 1px solid #e6e6e6;
    	cursor: pointer;
    	transition:all .3s linear;
    	&:hover{
    		color: #fff;
    		background: #9a49d0;
		}
    }
	strong{
		display: inline-block;
    	vertical-align: middle;
    	color: #232323;
    	font-size: 14px;
    	font-family: $m500;
    	font-weight: normal;
    	padding: 0 20px 11px 0;
	}
	&.active{
		border: 1px solid #dcdcdc;
		padding: 12px 20px 0px;
		margin: 0 0 30px 0;
	}
	@media (min-width: 1000px){
		&#selected-filters2{
			display: none;
		}
    	// margin: 0 0 0 85px;
	}
}

@media (max-width: 1300px){
	.filter-content{
		.but-reset{
			span{
				font-size: 14px;
				padding: 0 3px 0 0;
			}
			svg{
				width: 14px;
				height: 16px;
			}
		}
		.but-filter{
			font-size: 14px;
		}
		input, textarea{
			height: 30px;
			font-size: 14px;
		}
	}
	/* Блок для фильтра */
	.filter-block{
		padding: 20px 15px 10px;
		.filter-block__header{
			font-size: 14px;
			line-height: 1.1;
			padding: 0 0 14px;
		}
		.filter-block__item{
			font-size: 14px;
			line-height: 1.1;
			padding: 0 0 11px;
		}
		.filter-block__more{
			font-size: 13px;
		}
		&.filter-block-header{
			min-height: 50px;

			margin: 0 0 30px;
		}
	}

	/* Чекбоксы */
	.filter-checkbox{
		input[type="checkbox"]{
		    &:not(:checked), &:checked{
				& + label {
					&:before {
						top: 4px;
					}
		            &:after {
						top: 1px;
					}
		        }
		    }
		}
	}
}

@media (max-width: 1100px){
	.selected-filters{
		width: 100%;
		margin: 0 0 20px;
		&.active{
			margin: 0 0 20px;
		}
	}
}
