.list-view{
    .product-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .product-box__item{
            margin-bottom: -30px;
            }
        }
    }
    .viewed{
        padding-top: 15px;
        padding-bottom: 20px;
        background:#eaeaea;
        margin-top: 30px;
        }

        @media (max-width: 640px) {
            .viewed{
                overflow: hidden;
                padding-bottom: 0;
                padding-top: 0;
                .brend-image{
                    margin-top: 35px;
                    }
                .product-box{
                    margin-bottom: 50px;
                    }
                }
        }
