.notifications {
    display: none;
    position: fixed;
    z-index: 1050;
    &.top-right {
        right: 0;
        top: 25%;
    }
    & > div {
        position: relative;
        z-index: 9999;
        background-color:  #C1758D;
        border: 2px solid #C1758D;
        color: #fff;
        padding: 10px 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}
.product-view-content{
	padding-top: 30px;
	font-size: 16px;
	font-family: $m100;
	line-height: 1.5;

	h3{
		color: rgba(145,80,192, 1);
		font-size: 18px;
		font-family: Circe-Bold;
		padding: 10px 0 5px;
		margin: 0;
	}
}

.product-view{
	padding: 0 0 15px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 39px;
	border-bottom: 1px solid #c9c9c9;
	.product-view__img{
		order:-1;
		width: 585px;
		display: flex;
		border-right: 1px solid #d7d7d7;
		.image-preview{

			width: calc(100% - 100px);
			img{
				width: 100%;
				display: block;
				margin:0 auto;
				}
		}
		.image-thumbnail{
			margin-right: 15px!important;
			width: 100px;
		}
		&.product-view__img_2{
			.image-preview{
				float: none;
				width: 100%;
			}
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.product-view__info{
		width: calc(100% - 585px);
		padding: 0 0 0 35px;
		.product-view__desc{

			}
		h1{
			font-size: 35px;
			font-family: $g;
			color: #000;
			}
		.properties-product-view{
			margin-bottom: 15px;
			margin-top: 10px;
			.key-value{
				display: flex;
				}
			}
	}
	.product-view__item{
		margin: 0 0 15px;
	}

	.product-view__spinput, .product-view__button{
		display: inline-block;
		vertical-align: bottom;
		margin: 0 30px 25px 0;
	}
	.product-view__price{
		font-size: 16px;
		font-family: Circe-Regular;
		line-height: 1.1;
		margin: 0 0 25px;
		.product-view__price_heading{
			color: #515151;
			font-family: Circe-ExtraBold;
			padding: 0 0 5px;
		}
		.product-price__result{
			.price-result{
				color: #232323;
				font-size: 35px;
				font-family: $m900;
				line-height: 1.1;
			}
				.ruble{
					font-family: $m500;
					color: #232323;
					}
		}
		.product-price__old{
			color: #5d5d5d;
			font-size: 20px;
			font-family: Circe-Light;
			line-height: 1.1;
			padding: 0 0 0 20px;
		}
	}
	.product-view__spinput{
		.spinput {
			width: 130px;
			height: 50px;
			line-height: 1.3;
			padding: 0;
			text-align: center;
			background: #fff;
			border: 1px solid #e7e7e7;
			border-radius:0;
			.spinput__minus, .spinput__plus {
				width: 20px;
				line-height: 50px;
				left: 15px;
			}
			.spinput__plus {
			    left: auto;
			    right: 15px;
			}
			.spinput__value {
			 	width: 2em;
		        height: 48px;
		        &:focus, &:active, &:hover{
		        	outline: 0;
		        	box-shadow:none;
		        }
			}
		}
	}
	.product-view__button{
		width: 100%;
		display: flex;
		.but-black{
			align-items: center;
			justify-content: center;
			border-radius:0;
			display: flex;
			width: 229px;
			height: 50px;
			svg{
				width: 24px;
				height: 25px;
				fill:#fff;
				}
				span{
					margin-left: 12px;
					}
			&:hover, &:focus, &:active{
				outline: 0;
				box-shadow:none;
			}
		}
	.product-favorite{
		width: 50px;
		height: 50px;
		background:#fff;
		border: 1px solid #ccc;
		margin-left: 12px;
		svg{
			fill:#232323;
			width: 26px;
			height: 25px;
			}
		}
	}

	&:after{
		content: '';
		clear: both;
		display: block;
	}
}
.image-preview{
	width: 100%;
	max-width: 100%;
	height: auto;
	line-height: 456px;
	text-align: center;
	margin: 0 !important;
	.slick-list, .slick-track, .slick-slide{
		height: 100%;
	}
	.image-preview__img{
		background: #fff;
		img{
			display: inline-block;
			max-height: 98%;
		}
		a{
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			&:before{
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				right: 13px;
				top: 13px;
				width: 17px;
				height: 17px;
				background: url('../images/icon/fullscreen.png') no-repeat;
			}
		}
	}
}
.image-thumbnail{
	width: 150px;
	margin: 0 !important;
	.slick-track{
		margin: 0;
	}
	.image-thumbnail__box{
		height: 150px;
		line-height: 130px;
		padding: 10px 0;
		&:hover{
			cursor: pointer;
			.image-thumbnail__img{
				&:before{
					opacity: 1;
					transform:scale(1);
					transition:all .3s linear .3s;
				}
				&:after{
					opacity: 0;
					transition:all .3s linear;
				}
			}
		}
	}
	.image-thumbnail__img{
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		img{
			display: inline-block;
			max-height: 98%;
		}
		&:before{
			content: ''	;
			position: absolute;
			z-index: 1;
			top: calc(50% - 30px);
			left: calc(50% - 30px);
			width: 60px;
			height: 60px;
			opacity: 1;
			background: url('../images/icon/icon-hover-image.png') center no-repeat;
			transform:scale(0);
			transition:all .3s linear;
		}
		&:after{
			content: ''	;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.5);
			transition:all .3s linear .3s;
		}
	}
	.slick-prev,.slick-next{
		display: none !important;
	    width: 10px;
    	height: 25px;
    	svg{
    		width: 10px;
    	}
	}
	.slick-prev{
		left: -20px;
	}
	.slick-next{
		right: -20px;
	}
}

.product-view-info{
	padding: 15px 0 0;
	.product-view-info__tabs{
		margin: 0;
		padding: 0;
		list-style-type: none;
		border-bottom: 1px solid #d7d7d7;
		li{
			display: block;
			float: left;
			height: 49px;
			border-right: none;
			transition:all .3s ease;
			a{
				display: flex;
				flex-wrap: wrap;
				align-items:center;
				height: 100%;
				color: #232323;
				font-size: 16px;
				font-family: Circe-Light;
				padding: 0 25px;
				transition:all .3s ease;
				&:hover{
					color: rgba(145,80,192, 1);
				}
			}
			&.active{
				background: rgba(145,80,192, 1);
		        background: -moz-linear-gradient( 45deg, rgb(145,80,192) 0%, rgb(154,73,208) 100%);
		        background: -webkit-linear-gradient( 45deg, rgb(145,80,192) 0%, rgb(154,73,208) 100%);
		        background: -ms-linear-gradient( 45deg, rgb(145,80,192) 0%, rgb(154,73,208) 100%);
		        background: -o-linear-gradient( 45deg, rgb(145,80,192) 0%, rgb(154,73,208) 100%);
		        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9150c0', endColorstr='#9a49d0',GradientType=1 );
		        a{
					color: #fff;
					font-family: Circe-Bold;
		        }
			}
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.product-view-info__tab-content{
		padding: 25px 0px 0px;

		table{
			width: 100% !important;
			border: none;
			tr{
				td{
					border-color: #d7d7d7;
					padding: 8px 20px 6px;

				}
				&:hover{
					td{
						color: #fff;
						background: rgba(145,80,192, 1);
					}
				}
			}
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}



@media (max-width: 1300px){
	.product-view-content{
		font-size: 14px;
		line-height: 22px;
		h3{
			font-size: 16px;
		}
	}
	.product-view{
		padding: 0 0 15px;
		.product-view__img{
			width: 430px;
			padding: 0 30px 0 0;
			border-right: 1px solid #d7d7d7;
			.image-preview{
				width: calc(100% - 130px);
			}
			.image-thumbnail{
				width: 100px;
			}
			&.product-view__img_2{
				.image-preview{
					float: none;
					width: 100%;
				}
			}
		}
		.product-view__info{
			width: calc(100% - 430px);
			padding: 0 0 0 40px;
		}
		.product-view__item{
			margin: 0 0 15px;
		}

		.product-view__spinput, .product-view__button{
			margin: 0 25px 25px 0;
		}
		.product-view__spinput{
			.spinput {
				width: 130px;
				height: 46px;
				.spinput__minus, .spinput__plus {
					line-height: 46px;
				}
				.spinput__value {
			        height: 44px;
				}
			}
		}
		.product-view__button{
			margin: 0 0 25px;
		}
		.product-view__price{
			font-size: 14px;
			line-height: 1.1;
			margin: 0 0 25px;
			.product-view__price_heading{
				padding: 0 0 5px;
			}
			.product-price__result{
				.price-result{
					font-size: 38px;
					line-height: 1.1;
				}
			}
			.product-price__old{
				font-size: 18px;
				line-height: 1.1;
				padding: 0 0 0 20px;
			}
		}
	}

	.product-view-info{
		.product-view-info__tabs{
			li{
				height: 46px;
				a{
					font-size: 14px;
					padding: 0 20px;
				}
			}
		}
		.product-view-info__tab-content{
			padding: 20px 0px 0px;
			table{
				tr{
					td{
						padding: 8px 16px 6px;
					}
				}
			}
		}
	}
}

@media (max-width: 1100px){
	.product-view{
		.product-view__img{
			width: 100%;
			padding: 15px 0px 0px;
			border-right: none;
			border-top: 1px solid #d7d7d7;
			display: flex;
			justify-content: center;
			.image-preview{
				width: 50%;
				}
		}
		.product-view__info{
			order:-1;
			width: 100%;
			padding: 30px 0 30px;
		}
		.product-view__spinput{
			.spinput {
				width: 130px;
				height: 42px;
				.spinput__minus, .spinput__plus {
					line-height: 42px;
				}
				.spinput__value {
			        height: 40px;
				}
			}
		}
		.product-view__price{
			font-size: 14px;
			line-height: 1.1;
			margin: 0 0 25px;
			.product-view__price_heading{
				padding: 0 0 5px;
			}
			.product-price__result{
				.price-result{
					font-size: 36px;
					line-height: 1.1;
				}
			}
			.product-price__old{
				font-size: 18px;
				line-height: 1.1;
				padding: 0 0 0 20px;
			}
		}
	}
}

@media (max-width: 640px){
	.product-view-content{
		h3{
			font-size: 15px;
		}
	}
	.product-view{
		.product-view__img{
			flex-direction: column;
			.image-thumbnail{
				order:2;
				}
			.image-preview{
				width: 100%;
			}
			.image-thumbnail{
				width: 100%;
			}
			&.product-view__img_2{
				.image-preview{

					width: 100%;
				}
			}
		}
		.product-view__spinput{
			.spinput {
				width: 110px;
				height: 36px;
				.spinput__minus, .spinput__plus {
					line-height: 36px;
				}
				.spinput__value {
			        height: 34px;
				}
			}
		}
		.product-view__price{
			font-size: 14px;
			line-height: 1.1;
			margin: 0 0 20px;
			.product-view__price_heading{
				padding: 0 0 5px;
			}
			.product-price__result{
				.price-result{
					font-size: 30px;
					line-height: 1.1;
				}
			}
			.product-price__old{
				font-size: 18px;
				line-height: 1.1;
				padding: 0 0 0 20px;
			}
		}
	}

	.image-preview{
		height: 360px;
		padding: 10px 0px;
		line-height: 340px;
		.image-preview__img{
			img{
				max-height: 95%;
			}
		}
	}

	.image-thumbnail{
		width: 100%;
		margin: 0 !important;
		.image-thumbnail__box{
			height: 90px;
			line-height: 70px;
			padding: 10px 0;
		}
		.image-thumbnail__img{
			img{
				max-height: 98%;
			}
			&:before{
				top: calc(50% - 20px);
				left: calc(50% - 20px);
				width: 40px;
				height: 40px;
			}
		}
	}

	.product-view-info{
		.product-view-info__tabs{
			li{
				height: 40px;
				a{
					font-size: 14px;
					padding: 0 16px;
				}
			}
		}
		.product-view-info__tab-content{
			padding: 20px 0px 0px;
			table{
				tr{
					td{
						padding: 7px 16px 5px;
					}
				}
			}
		}
	}
}