.main{
    background:#fff;
    padding-top: 60px;
    padding-bottom: 80px;
    margin-top: 5px;
    .ms-container{
        justify-content: space-between;
        main{
            width: 500px;
            display: flex;
            flex-direction: column;
            .main__head{
                font-size: 35px;
                font-family: $g;
                color: #232323;
                margin-bottom: 35px;
                }
             .main__text{
                font-size: 16px;
                color: #232323;
                font-family: $m100;
                line-height: 1.5;
                }
             .main__buttons{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: auto;
                .but-black{
                    width: 235px;

                    }
                .bordered{
                    width: 235px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #232323;
                    border: 1px solid #ccc;
                    height: 51px;
                    }
                }
            }
         .widget-box{
            width: 572px;
            .brend-slider{
                .brend-slider__item{
                    .brend-slider-item__img{
                        width: calc(100% - 22px);
                        &:before{
                            content:"";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,.3);
                            top: 0;
                            left: 0;
                            }
                            &:after{
                            content:"";
                            position: absolute;
                            width: 97%;
                            height: 96%;
                            top: 50%;
                            left: 1.5%;
                            transform:translate(0,-50%);
                            border: 1px solid rgba(255,255,255,.5);
                            }
                          .rd{
                            top: 50%;
                            left: 50%;
                            transform:translate(-50%,-50%);
                            opacity: .4;
                            img{
                                max-width: 100%;
                                }
                            }
                        }
                    }
                .slick-prev{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    bottom: -94px;
                    left: 0;
                    top: unset;
                    transition: all .4s;
                    &:hover{
                        background:#232323;
                        box-shadow: 0 0 15px rgba(0,0,0,.15);
                        &::before{
                            background:transparent url('../images/l2.svg') center center no-repeat;
                            background-size: cover;
                            }
                        }
                    &::before{
                        width: 9px;
                        height: 17px;
                        background:transparent url('../images/l.svg') center center no-repeat;
                        background-size: cover;
                        }
                    }
                .slick-next{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    bottom: -94px;
                    top:unset;
                    left: 60px;
                    right: unset;
                    transition: all .4s;
                    &:hover{
                        background:#232323;
                        box-shadow: 0 0 15px rgba(0,0,0,.15);
                        &::before{
                            background:transparent url('../images/r2.svg') center center no-repeat;
                            background-size: cover;
                            }
                        }
                    &::before{
                        width: 9px;
                        height: 17px;
                        background:transparent url('../images/r.svg') center center no-repeat;
                        background-size: cover;
                        }
                    }
                }
            .brend-slider-nav-wrap{
                display: flex;
                justify-content:flex-end;
                margin-top: -44px;
                .brend-slider-nav{
                    width: 460px;
                    .brend-slider-nav__item{
                        display: flex;
                        justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
/*******************/
@media (max-width: 1120px) {
    .main{
        padding-top: 30px;
         .ms-container{
            .widget-box{
                width: 100%;
                display: flex;
                .brend-slider{
                    width: 550px;
                    .slick-prev{
                        left: calc(100% + 20px);
                        bottom: 0;
                        }
                    .slick-next{
                        left: calc(100% + 90px);
                        bottom: 0;
                        }
                    .brend-slider__item{
                         .brend-slider-item__img{
                            width: 100%;
                            }
                        }
                    }
                 .brend-slider-nav-wrap{
                    width: 200px;
                    margin-top:-2px;
                    margin-left: 20px;
                    .brend-slider-nav{
                        .brend-slider-nav__item{

                            img{
                                width: 100%;
                                }
                            }
                        }
                    }
                }
             main{
                width: 100%;
                margin-bottom: 2rem;
                .main__text{
                    padding-right: 50px;
                    margin-bottom: 2rem;
                    }
                .main__buttons{
                    width: 490px;
                    }
                }
            }
        }
}
@media (max-width: 767px) {
    .main{

         .ms-container{
            .widget-box{

                .brend-slider{
                    .slick-prev{
                        left: 0;
                        bottom: -94px;
                        }
                    .slick-next{
                        left: 70px;
                        bottom: -94px;
                        }
                    width: 100%;
                    .brend-slider__item{
                         .brend-slider-item__img{
                            width: 100%;
                            img{
                                width: 100%;
                                }
                            }
                        }
                    }
                 .brend-slider-nav-wrap{
                    display: none;
                    }
                }
             main{
                .main__head{
                    font-size: 30px;
                    }
                .main__text{

                    }
                .main__buttons{
                    width: 490px;
                    }
                }
            }
        }
}
@media (max-width: 575px) {
    .main{
         .ms-container{
            .widget-box{
                .brend-slider{
                    .slick-prev{
                        left: 0;
                        bottom: -90px;
                        }
                    .slick-next{
                        left: 70px;
                        bottom: -90px;
                        }
                    }

                }
             main{
                .main__head{
                    font-size: 30px;
                    }
                .main__text{
                    padding-right: 0;
                    }
                .main__buttons{
                    width: 100%;
                    }
                }
            }
        }
}
@media (max-width: 507px) {
    .main{
         .ms-container{

             main{
                .main__head{
                    font-size: 25px;
                    margin-bottom: 25px;
                    }
                .main__buttons{
                    flex-direction: column;
                    .but-black{
                        margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
}