.brend-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 42px;
    }
.product-section{
    .product-box{
        .slick-prev{
            width: 55px;
            height: 55px;
            background:rgba(240,240,240,.5) url('../images/l.svg')no-repeat center center;
            background-size: 22px 32px;
            border-radius: 50%;
            left: -61px;
            top: 40%;
            opacity: .7;
            &:hover{
                opacity: 1;
                box-shadow: 1px 5px 15px rgba(0,0,0,.1);
                transition:all .4s;
                }
            }
        .slick-next{
            width: 55px;
            height: 55px;
            background:rgba(240,240,240,.5) url('../images/r.svg')no-repeat center center;
            background-size: 22px 32px;
            border-radius: 50%;
            right: -56px;
            top: 40%;
            opacity: .7;
            &:hover{
                opacity: 1;
                box-shadow: 1px 5px 15px rgba(0,0,0,.1);
                transition:all .4s;
                }
            }
        }
    .product-section__h2{
        font-size: 35px;
        font-family: $g;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #232323;
        margin-bottom: 33px;
        position: relative;
        a{
            font-family: $m500;
            text-decoration: underline;
            color: #232323;
            position: absolute;
            right: 15px;
            }
        }
    }
.product-box__item{
    width: 269px;
    background:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // transition:all .4s;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    &.product-viewed{
        &::after{
            background:#eaeaea;
            }
         .product-box__info{
            background:#eaeaea;
            }
        }
    &::before{
        transition: all .4s;
        }
    &::after{
        width: 100%;
        height: 10px;
        bottom: 0;
        left: 0;
        position: absolute;
        content:"";
        background:#f4f4f4;

        }

    .product-item__head{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 240px;
        margin-bottom: 5px;
        position: relative;
        .best{
            width: 76px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;

            &.sale{
                width: 94px;
                background:#b35573;
                color: #fff;
                border: none;
                }
            }
        }
      .product-box__img{
        width: 240px;
        height: 342px;
        position: relative;

        img{
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            }
         .discount_box{
            width: 44px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 14px;
            font-family: $m100;
            background:#b35573;
            left: 0;
            bottom: 12px;
            }
        }
     .product-box__info{
        width: 100%;
        background:#f4f4f4;
        transition:all .4s;
        &.viewed-item{
            background:#eaeaea;
            }
        .product-box__name{
            font-family: $m100;
            color: #232323;
            margin-top: 19px;
            margin-bottom: 10px;
            line-height: 1;
            }
        .product-box__bottom{
            .prices-spans{
                display: flex;
                align-items: center;
            .product-price__result{
                font-size: 20px;
                font-family: $m900;
                &.sale-price{
                    color: #b35573;
                    }
                }
              .product-price__old{
                order:-1;
                margin-right: 20px;
                color: #333;
                font-family: $m100;
                text-decoration:line-through;
                }
             }

            .by-order{
                // background:#f4f4f4;
                opacity: 0;
                transition:all .4s;
                .properties{
                display: flex;
                font-family: $m100;
                margin-top: 5px;
                .key{
                    color: #6e6e6e;
                    margin-right: 10px;
                    }
                .value{
                    color: #232323;
                    }
                }
                .by-order__flex{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 10px;
                    .product-box__link{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:#e1e1e1;
                    svg{
                        width: 17px;
                        height: 11px;
                        fill:#565656;
                        }
                    }
                 // .spinput{
                 //            width: 51px;
                 //            height: 13px;
                 //            display: flex;
                 //            align-items: center;
                 //            justify-content: space-between;
                 //            input{
                 //                width:15px;
                 //                height: 100%;
                 //                border: none;
                 //                color: #565656;
                 //                font-size: 16px;
                 //                font-family: $m500;
                 //                text-align: center;
                 //                background:transparent;
                 //                }
                 //             span{
                 //                    color: #565656;
                 //                    font-size: 16px;
                 //                    font-family: $m500;
                 //                    }
                 //             }
                   .product-button__item{
                        .but-add-cart{
                            width: 132px;
                            height: 40px;
                            padding: 0;
                            border: none;
                            display: flex;
                            align-items: center;
                            box-shadow: none;
                            &:hover{
                                color: #fff;
                                }
                            svg{
                                margin-right: 14px;
                                }
                            }

                        }
                    }

                }

            }
        }
    }
    /**************************************/
    @media (max-width: 1100px) {
        .product-box__item{
            margin:0 auto;
            }
         .product-section{
             .product-box{
                 .slick-next{
                    right: 0;
                    }
                .slick-prev{
                    left: 0;
                    }
                }
            }
        }
    @media (min-width: 640px) {
        .product-box__item{
            &:hover{
                position: relative;
                box-shadow: 0 0 15px rgba(0,0,0,.2);
                transition:all .4s;
                &::before{
                    position: absolute;
                    content:"";
                    width: 289px;
                    height: 100%;
                    left: -10px;
                    top: 0;
                    background:#fff;
                    }
                &::after{
                    background:#fff;
                    z-index: 100;
                    }
                .product-box__info{
                    background:#fff;

                    position: relative;
                    z-index: 300;
                    &.viewed-item{
                    background:#fff;
                    }
                    .by-order{
                        opacity: 1!important;
                        // transition:all .4s;
                        }
                    }

                }
            }
    }
    @media (max-width: 650px) {
        .product-section{
               .product-section__h2{
                flex-wrap: wrap;
                margin-bottom: 25px;
                span{
                    font-size: 30px;
                    }
                    a{
                        position: static;
                        width: 100%;
                        text-align: center;
                        margin-top: 15px;
                        }
                   }
            }
        }
@media (max-width: 640px) {
        .product-box__item{
                position: relative;
                box-shadow: 0 0 15px rgba(0,0,0,.2);
                transition:all .4s;
                &.product-viewed{
                    &::after{
                        background:#fff;
                        }
                    }
                &::before{
                    position: absolute;
                    content:"";
                    width: 289px;
                    height: 100%;
                    left: -10px;
                    top: 0;
                    background:#fff;
                    }
                &::after{
                    background:#fff;
                    z-index: 100;
                    }
                .product-box__info{
                    background:#fff;

                    position: relative;
                    z-index: 300;
                    &.viewed-item{
                    background:#fff;
                    }
                    .by-order{
                        opacity: 1!important;

                        }
                    }


            }
         .product-section{
             .product-box{
                margin-bottom: 100px;
                }
            }

    }
@media (max-width: 338px) {
        .product-section{
               .product-section__h2{

                    span{
                        font-size: 25px;
                        }

                   }
            }
        }


