.slide-box{
    margin-top: 10px;
    .slide-box__item{
        position: relative;
        .slide-box__img{
            overflow: hidden;
            border-radius: 10px;
            .slide_md_img{
                width: 100%;
                }
            .slide_xs_img{
                display: none;
                }
            }
          .slide-box__text{
            position: absolute;
            top: 50px;
            left: 69px;
            color: #fff;
            .slide-box__name{
                font-size: 40px;
                font-family: $g;
                line-height: 1;
                .turk{
                    font-size: 68px;
                    }
                .quality{
                    font-size: 34px;
                    }
                }
             .slide-box__desc{
                font-family: $m100;
                margin-top: 20px;
                margin-bottom: 25px;
                }
            }
        }
      .slick-prev{
        width: 55px;
        height: 55px;
        background:rgba(255,255,255,.5) url('../images/l.svg')no-repeat center center;
        background-size: 22px 32px;
        border-radius: 50%;
        left: -71px;
        &:hover{
                opacity: 1;
                box-shadow: 1px 5px 15px rgba(0,0,0,.1);
                transition:all .4s;
                }
        }
    .slick-next{
        width: 55px;
        height: 55px;
        background:rgba(255,255,255,.5) url('../images/r.svg')no-repeat center center;
        background-size: 22px 32px;
        border-radius: 50%;
        right: -71px;
        &:hover{
                opacity: 1;
                box-shadow: 1px 5px 15px rgba(0,0,0,.1);
                transition:all .4s;
                }
        }
      .slick-dots{
        bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        li{
            width: 44px;
            height: 2px;
            background:#fff;
            margin-right: 18px;
            &.slick-active{
                background:#343434;
                }
            &:last-child{
                margin-right: 0;
                }
            }
        }
    }
    @media (max-width: 1199px) {
        .slide-box{
             .slide-box__item{
                 .slide-box__img{
                    position: relative;
                    width: 100%;
                    height: 400px;
                    .slide_md_img{
                        position: absolute;
                        object-fit: cover;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        }
                    }
                }
            }
    }
    @media (max-width: 650px) {
        .slide-box{
             .slide-box__item{
                 .slide-box__img{
                    position: relative;
                    width: 100%;
                    height: 400px;
                    .slide_md_img{
                        display: none;
                        }
                    .slide_xs_img{
                        display: block;
                        position: absolute;
                        object-fit: cover;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        }
                    }
                 .slide-box__text{
                    left: 15px;
                    .slide-box__name{
                        font-size: 30px;
                        padding: 1rem;
                        text-shadow: 2px 2px 2px rgba(0,0,0,.5);
                        .turk{
                            font-size: 50px;
                            }
                         .quality{
                            font-size: 24px;
                            }
                        }
                    .slide-box__desc{
                        padding: 1rem;
                        text-shadow: 1px 1px 5px rgba(0,0,0,.7);
                        margin-top: 0;
                        font-family: $m500;
                        }
                      .slide-box__button{
                        padding-left: 1rem;
                        }
                    }
                }
            }
    }
    @media (max-width: 575px) {
        .slide-box{
             .slide-box__item{
                 .slide-box__text{
                        left: 5px;
                        .slide-box__name{
                            font-size: 25px;
                            padding: 1rem;

                            .turk{
                                font-size: 40px;
                                }
                             .quality{
                                font-size: 20px;
                                }
                            }
                        }
                }
            }
    }
     @media (max-width:480px) {
        .slide-box{

             .slide-box__item{
                .slide-box__img{
                    height: 350px;
                    overflow: hidden;
                    .slide_xs_img{
                        width: 130%;
                        height: 130%;

                        }
                    .slide-box__text{
                            left: 5px;
                            .slide-box__name{
                                font-size: 25px;
                                padding: 1rem;

                                .turk{
                                    font-size: 40px;
                                    }
                                 .quality{
                                    font-size: 20px;
                                    }
                                }
                            }
                    }
                }
            }
    }