.catalog-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    .catalog-main__item{
        background:#fff;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 262px;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 36px;
        text-decoration: none;
        overflow: hidden;
        transition: all .4s;
        &:hover{
            box-shadow: 0 0 15px rgba(0,0,0,.2);
            .catalog-main_link{
                opacity: 1;
                z-index: 100;
                transition: all .4s;
                }
            }
        .catalog-main__desc{
            position: relative;
            z-index: 100;
            max-width: 149px;
            font-family: $m100;
            color: #434343;
            line-height: 1.2;
            }
        .catalog-main__name{
            font-family: $m900;
            font-size: 23px;
            color: #232323;
            position: relative;
            z-index: 100;
            }
        .catalog-main__img{
            position: absolute;
            right: 0;
            bottom: 0;
            }
        .catalog-main_link{
            margin-top: auto;
            font-family: $cr;
            color: #343434;
            display: flex;
            align-items: center;
            opacity: 0;
            transition: all .8s;
            span{
                text-decoration: underline;
                margin-right: 7px;
                }
            }
        }
    }

    @media (max-width: 1050px) {
       .catalog-main {
        grid-gap: 15px;
            .catalog-main__item{
                .catalog-main__img{
                    width: 100px;
                    img{
                        width: 100%;
                        }
                    }
                }
            }
    }
@media (max-width: 991px) {
       .catalog-main {
            .catalog-main__item{
                .catalog-main__name{
                    font-size: 18px;
                    }
                }
            }
    }
    @media (max-width: 767px) {
       .catalog-main {
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            .catalog-main__item{
                padding-bottom: 20px;
                padding-top: 20px;
                padding-left: 20px;
                &:last-child{
                    grid-column: span 2;
                    }
                .catalog-main__name{
                    font-size: 18px;
                    }
                }
            }
    }

     @media (max-width: 480px) {
       .catalog-main {
        margin-top: 3rem;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
            .catalog-main__item{
                .catalog-main__img{
                    width: 172px;
                    }
                &:last-child{
                    grid-column: span 1;
                    }
                }
            }
    }
@media (max-width: 385px) {
       .catalog-main {

            .catalog-main__item{
                .catalog-main__img{
                    width: 120px;
                    }
                }
            }
    }