.products-attributes .products-attributes_attribute {
  display: flex;
  align-items: center; }
  .products-attributes .products-attributes_attribute .label-attribute {
    font-family: "MuseoSansCyrl-900";
    font-size: 16px;
    font-weight: 100;
    color: #232323; }

.product-sizes {
  display: flex; }
  .product-sizes input[type="radio"] {
    position: absolute;
    visibility: hidden;
    display: none; }
    .product-sizes input[type="radio"]:checked + label {
      background-color: #212121;
      font-family: "MuseoSansCyrl-900";
      font-size: 16px;
      font-weight: 600;
      color: #fff; }
  .product-sizes label {
    padding: 3px 7px;
    border-radius: 2px;
    cursor: pointer;
    font-family: "MuseoSansCyrl-900";
    font-size: 16px;
    font-weight: 600;
    color: #232323; }
  .product-sizes .products-sizes_size {
    margin: 10px 5px; }

/*# sourceMappingURL=shop.css.map */
