.btn{
    border-radius: 0!important;
    }
.but {
    display: flex;
    height: 51px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-family: $m500;
    text-decoration: none;
    &.but-black{
        background: rgba(33,33,33, 1);
        background: -moz-linear-gradient( 45deg, rgb(33,33,33) 0%, rgb(159,210,97) 100%);
        background: -webkit-linear-gradient( 45deg, rgb(33,33,33) 0%, rgb(159,210,97) 100%);
        background: -ms-linear-gradient( 45deg, rgb(33,33,33) 0%, rgb(159,210,97) 100%);
        background: -o-linear-gradient( 45deg, rgb(33,33,33) 0%, rgb(159,210,97) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cbe4f', endColorstr='#9fd261',GradientType=1 );
        box-shadow: 0px 8px 13.3px 0.7px rgba(0, 1, 5, 0.2);
        transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        overflow: hidden;
        -webkit-appearance: listbox;
        width: 217px;
        height: 51px;
        padding: 0;
        i{
            color: #fff;
            margin-left: 12px;
            }
    }

    &.but-pink{
        background: rgba(179,85,115, 1);
        background: -moz-linear-gradient( 45deg, rgb(179,85,115) 0%, rgb(154,73,208) 100%);
        background: -webkit-linear-gradient( 45deg, rgb(179,85,115) 0%, rgb(154,73,208) 100%);
        background: -ms-linear-gradient( 45deg, rgb(179,85,115) 0%, rgb(154,73,208) 100%);
        background: -o-linear-gradient( 45deg, rgb(179,85,115) 0%, rgb(154,73,208) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9150c0', endColorstr='#9a49d0',GradientType=1 );
        box-shadow: 0px 8px 13.3px 0.7px rgba(0, 1, 5, 0.2);
        transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        overflow: hidden;
        -webkit-appearance: listbox;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: -150%;
        top: 0;
        opacity: 0.05;
        background: white;
        pointer-events: none;
       transform:skewX(25deg);
       transition:.5s ease;
    }
    &:hover, &:focus, &:active{
        color: #fff;
         text-decoration: none;
        &.but-black, &.but-pink{
            &:before {
                left: -10%;
                transition:all .3s ease;
            }
            &:hover:after {
                left: -20%;
            }
        }

    }
}