@mixin fontface($name_font, $src) {
  @font-face {
      font-family: quote($name_font);
      src: url(quote("../fonts/" + $name_font + ".eot"));
      src: url(quote("../fonts/" + $src + ".eot?#iefix")) format("embedded-opentype"),
      url(quote("../fonts/" + $src + ".woff")) format("woff"),
      url(quote("../fonts/" + $src + ".ttf")) format("truetype");
  }
}

@include fontface("MuseoSansCyrl-500", "MuseoSansCyrl-500");
@include fontface("MuseoSansCyrl-900", "MuseoSansCyrl-900");
@include fontface("MuseoSansCyrl-100", "MuseoSansCyrl-100");
@include fontface("Georgia-Bold", "Georgia-Bold");
@include fontface("Circe-Regular", "Circe-Regular");

.wrapper {
  max-width: 1920px;
  min-width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  background:#f4f4f4;

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
    }
  }
  $m100:"MuseoSansCyrl-100";
  $m500:"MuseoSansCyrl-500";
  $m900:"MuseoSansCyrl-900";
  $g:"Georgia-Bold";
  $cr:"Circe-Regular";
  html,body{
    height: 100%;
    font-size: 16px;
    font-family: $m100;
  }

       .container {
        &.container-pr{

          &.mt-min{
            margin-top: -40px;
            }
          @media (min-width: 1200px) {
            width: 1200px;
            padding-left: 20px;
          }
          }
       @media (max-width: 1199px) {
         width: 100%!important;
         }
       &::before{
         display: none!important;
         }
      &::after{
         display: none!important;
         }
  }
  .d-flex{
     display: flex;
     flex-wrap: wrap;
     }


  a{
    display: block;
    font-size: 16px;
    &:hover{
         text-decoration: none;
         }
    }

  .breadcrumbs_wrap{
        .breadcrumb{
          background:transparent;
          display: flex;
          padding: 0;
          margin-bottom: 0;
          margin-top: 30px;
          @media (max-width: 767px) {
            display: none;
          }
          li{
              display: flex;
              align-items: center;
              &::before{
                padding: 0 5px 0 10px!important;
                }
              a{
                color: #8c8c8c;

                font-size: 14px;
                }
              &.active{


                  }
              }
          }

      }
        .page_title{
          font-size: 35px;
            font-family: $g;
        }

      .page-content{
        h1{
            font-size: 35px;
            font-family: $g;
            }
        }