footer{
    padding: 50px 0;
    background:#ececec;
    .d-flex{
        justify-content: space-between;
        .footer__item{
            .footer__item-name{
                    font-family: $m900;
                    font-size: 16px;
                    line-height: 1;
                    margin-bottom: 1rem;
                    }
            ul{
                padding-left: 0;
                list-style: none;
                li{
                    font-family: $m100;
                    font-size: 15px;
                    line-height: 1.2;
                    a{
                        color: #232323;
                        text-decoration: underline;
                        margin-bottom: 10px;
                        }
                    }
                &.category-footer{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 660px;
                    li{
                        font-family: $m900;
                        width: 169px;
                        font-size: 16px;
                        line-height: 1;
                        a{
                            margin-bottom: 1rem;
                            color: #232323;
                            text-decoration: none;
                            }
                         ul{
                            li{
                                font-family: $m100;
                                font-size: 15px;
                                line-height: 1.2;
                                margin-bottom: 10px;
                                a{
                                    text-decoration: underline;
                                    margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
              &.contacts_item{
                a{
                    color: #232323;
                    &.but-black{
                        width: 200px;
                        color: #fff;
                        margin-top: 20px;
                        }
                    }
                }
              .footer-phone__link{
                display: flex;
                align-items: center;
                i{
                    width: 15px;
                    height: 16px;
                    background:transparent url('../images/call.svg') center center no-repeat;
                    background-size: 15px 16px;
                    margin-right: 14px;
                    }
                span{
                    font-family: $m900;
                    }
                }
              .footer-mail__link{
                display: flex;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 15px;
                i{
                    width: 17px;
                    height: 12px;
                    background:transparent url('../images/cenv.svg') center center no-repeat;
                    background-size: cover;
                    margin-right: 13px;
                    }
                span{
                    font-family: $m100;
                    text-decoration: underline;
                    font-size: 15px;
                    }
                }
             .footer-social__link{
                display: flex;
                align-items: center;
                i{
                    background:transparent url('../images/instagram.svg') center center no-repeat;
                    background-size: 15px;
                    width: 15px;
                    height: 15px;
                    margin-right: 15px;
                    }
                span{
                    font-family: $m100;
                    font-size: 15px;
                    }
                }
            }
        }
    }

    /********************/
    @media (max-width: 1120px) {
        footer{
             .d-flex{

                 .footer__item{
                    width: 200px;
                     ul{
                        &.category-footer{
                            flex-direction: column;
                            width: 200px;
                            li{
                                position: relative;
                                width: auto;
                                display: inline-block;

                                &::after{
                                    content:"\203A";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    }
                                ul{
                                   display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    }
    @media (max-width: 640px) {
        footer{
             .d-flex{
                flex-direction: column;
                align-items: center;
                 .footer__item{
                     &:nth-child(2){
                        margin-bottom: 1rem;
                        }
                    }
                }
            }
    }