header{
    padding-top: 8px;
    transition: all .4s;
    .mobile-menu{
        display: none;
        }
    &.fixed{
        position: fixed;
        padding-top: 0;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 800;
        background:#f4f4f4;
        border-bottom: 1px solid #dfdfdf;
        // transition: all .3s;
        .top-header{
            .mobile-menu{
                display: flex;
                align-items: center;
                cursor:pointer;
                .toggler{
                    width: 23px;
                    height: 17px;
                    position: relative;
                    margin-left: 12px;
                    span{
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background:#232323;
                        top: 50%;
                        left: 0;
                        margin-top: -1.5px;
                        &::before{
                            content:"";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            left: 0;
                            top: -6px;
                            background:#232323;
                            }
                        &::after{
                            content:"";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            left: 0;
                            bottom: -6px;
                            background:#232323;
                            }
                        }
                    }
                }
            .top-header__first{
                align-items: center;
                display: flex;
                justify-content: space-between;
                width: 423.45px;
                .first__instagram{
                    display: none;
                    }
                 .first__search{
                    margin-top: 0;
                    }
                }
             .top-header__logo{

                img{
                    width: 105px;
                    border-radius: 0;
                    }
                }
             .top-header__three{
                .reqweesits{
                    display: none;
                    }
                 .widgets-buttons{
                    margin-top: 0;
                    .favorits{
                        margin-left: 30px;
                        margin-right: 30px;
                        }
                    }
                }
            }
        }
    .top-header{
        justify-content: space-between;
        align-items: center;
        .top-header__logo{
            img{
                border-radius: 10px;
                }
            }
        .top-header__first{
                .first__instagram{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    color: #6e6e6e;
                    font-family: $m100;
                    text-decoration: none;
                    i{
                        width: 15px;
                        height: 15px;
                        background:transparent url('../images/instagram.svg') 0 0 no-repeat;
                        background-size: 15px;
                        margin-right: 15px;
                        }
                    }
                .first__search{
                    display: flex;
                    margin-top: 20px;
                    form{
                        width: 100%;
                        .input-group{
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            align-items: center;
                            button{
                                    width: 14px;
                                    height: 14px;
                                    background:transparent;
                                    border: none;
                                    padding: 0;
                                    svg{
                                        width: 14px;
                                        height: 14px;
                                        fill:#000;
                                        }
                                    }
                            input{
                                display: block;
                                width: 220px;
                                background:transparent;
                                border: none;
                                box-shadow: none;
                                padding-top: 0;
                                padding-bottom: 0;
                                height: 22px;
                                padding-left: 17px;
                                }
                            }
                        }
                    }
            }
          .top-header__three{
            .reqweesits{
                display: flex;
                flex-wrap: wrap;
                .reqweesits__mail{
                    color: #232323;
                    font-family: $m100;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-right: 50px;
                    text-decoration: none;
                    i{
                        width: 16px;
                        height: 12px;
                        margin-right: 8px;
                        background:transparent url('../images/cenv.svg') 0 0 no-repeat;
                        background-size: 16px 12px;
                        display: block;
                        }
                    }
                .reqweesits__phone{
                    color: #383838;
                    font-family: $m900;
                    display: flex;
                    text-decoration: none;
                    i{
                        width: 14px;
                        height: 13px;
                        margin-right: 8px;
                        background:transparent url('../images/call.svg') 0 0 no-repeat;
                        background-size: 14px 13px;
                        display: block;
                        }
                    }
                }
            .widgets-buttons{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                font-family: $m500;
                margin-top: 20px;
                .user{
                    a{
                        color: #232323;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        text-decoration: none;
                        i{
                            width: 11px;
                            height: 14px;
                            background:transparent url('../images/user.svg') 0 0 no-repeat;
                            background-size: 11px 14px;
                            margin-right: 9px;
                            }
                        }
                    }
                .favorits{
                    .toolbar-button{
                        display: flex;
                        flex-wrap: wrap;
                        color: #232323;
                        text-decoration: none;
                        .but-favorite__icon{
                            position: relative;
                            margin-right: 20px;
                            .but-favorite__count{
                                position: absolute;
                                width: 18px;
                                height: 18px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background:#232323;
                                color: #fff;
                                right: -12px;
                                bottom: 10px;
                                }
                            svg{
                                width: 16px;
                                height: 15px;
                                }
                            }
                         .but-favorite__icon__text{
                            font-size: 16px;
                            &.active{
                                cursor:pointer;
                                }
                            }
                        }
                    }
                }
             .cart{
                .header-cart{
                    .but-cart{
                        display: flex;
                        flex-wrap: wrap;
                        a{
                            text-decoration: none;
                            font-family: $m500;
                            font-size: 16px;
                            display: flex;
                            color: #232323;
                            }
                        .but-cart__text{
                            font-family: $m500;
                            font-size: 16px;
                            }
                        .but-cart__icon{
                            display: flex;
                            position: relative;
                            margin-right: 18px;
                            .but-cart__count{
                                position: absolute;
                                width: 18px;
                                height: 18px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background:#b35573;
                                color: #fff;
                                right: -10px;
                                bottom: 8px;
                                }
                            svg{
                                width: 16px;
                                height: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /****************/
    @media (max-width: 1170px) {
        header{
        padding-top: 0;
        border-bottom: 1px solid #dfdfdf;
            &.fixed{
                .top-header{

                    .top-header__three{
                         .widgets-buttons{
                                  .favorits{
                                        margin-left: 20px!important;
                                        margin-right: 20px!important;
                                        }
                                    }
                      }
                }
                }

        .top-header{

            .mobile-menu{
                display: flex;
                align-items: center;
                cursor:pointer;
                .toggler{
                    width: 23px;
                    height: 17px;
                    position: relative;
                    margin-left: 12px;
                    span{
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background:#232323;
                        top: 50%;
                        left: 0;
                        margin-top: -1.5px;
                        &::before{
                            content:"";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            left: 0;
                            top: -6px;
                            background:#232323;
                            }
                        &::after{
                            content:"";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            left: 0;
                            bottom: -6px;
                            background:#232323;
                            }
                        }
                    }
                }
            .top-header__first{
                align-items: center;
                display: flex;
                justify-content: space-between;
                width: 423.45px;
                .first__instagram{
                    display: none;
                    }
                 .first__search{
                    margin-top: 0;
                    }
                }
             .top-header__logo{

                img{
                    width: 105px;
                    border-radius: 0;
                    }
                }
             .top-header__three{
                .reqweesits{
                    display: none;
                    }
                 .widgets-buttons{
                    margin-top: 0;

                    .favorits{
                        margin-left: 20px;
                        margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 991px) {
        header{
            .top-header{

                .top-header__first{
                    width: auto!important;
                    }
                 .top-header__three{
                    width: 306.85px;
                     .widgets-buttons{
                        justify-content: unset;
                        align-items: center;
                         .user{
                            // margin-left: auto;
                            a{
                                span{
                                    display: none;
                                    }
                                 i{
                                    width: 21px;
                                    height: 21px;
                                    background:transparent url('../images/user2.svg') 0 0 no-repeat;
                                    background-size:cover;
                                    }
                                }
                            }
                        }
                     .favorits{
                         .toolbar-button{
                            .but-favorite__icon{
                                height: 21px;
                                svg{
                                    width: 22px!important;
                                    height: 21px!important;
                                    }
                                }
                             .but-favorite__icon__text{
                                display: none;
                                }
                            }
                        }
                    .cart{
                         .header-cart{
                            .but-cart__icon{
                                svg{
                                    height: 21px!important;
                                    width: 20px!important;
                                    }
                                }
                             .but-cart{
                                 .but-cart__text{
                                    display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    }

    @media (max-width: 800px) {
        header{
            &.fixed{
                .top-header{
                        .top-header__three{
                        width: 116.85px!important;
                               .widgets-buttons{
                                            .favorits{
                                                margin-left: 0!important;
                                                margin-right: 0!important;
                                                }
                                        }
                             }
                        }
                     }
             .top-header{
                 .top-header__three{
                        width: 116.85px!important;
                        .widgets-buttons{
                                .favorits{
                                        margin-left: 0;
                                        margin-right: 0;
                                        }
                                }
                         }
                 .top-header__first{
                     .first__search{
                            align-items: center;
                            form{
                                display: none;
                                }
                            .search-xs{

                                    display: block!important;
                                    height: 100%;
                                    margin-right: 30px;
                                    .search-xs-link{
                                        display: flex;
                                        align-items: center;
                                        cursor: pointer;
                                        svg{
                                            width: 14px;
                                            height: 100%;
                                            transition:all .3s;
                                            path{
                                                fill: rgba(73, 73, 73, 0.89);
                                            }
                                        }
                                        &:hover,&:focus,&:active{
                                            outline: 0;
                                            box-shadow:none;
                                            svg{
                                                path{
                                                    fill: #000;
                                                }
                                            }
                                        }
                                    }
                                }
            }
                     }
                 }
             }

    }
    @media (max-width: 420px) {
       header,header.fixed{
        .top-header{
            .top-header__logo{

                img{
                    width: 90px;
                    }
                }
             .mobile-menu{
                order:-1;
                margin-right: 20px;
                .mobile-menu__name{
                    display: none;
                    }
                 .toggler{
                    margin-left: 0;
                    }
                }
             .top-header__first{
                 width: 116.85px!important;
                 justify-content: unset;
                 .first__search{
                     .search-xs{
                        margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 380px) {
        header,header.fixed{
             .top-header{
                .top-header__first{
                    width: 90px!important;
                    }
                 .top-header__three{
                    width: 90px!important;
                    .widgets-buttons{
                        .user{
                                a{
                                    height: 12px;
                                    i{
                                        width: 12px;
                                        height: 15px;
                                        background:transparent url('../images/user.svg') 0 0 no-repeat;
                                        background-size: 11px 14px;
                                        margin-right: 9px;
                                        }
                                    }
                            }
                          .favorits{
                                .toolbar-button{

                                    .but-favorite__icon{
                                        height: 15px;
                                        margin-right: 18px;
                                        svg{
                                            width: 16px!important;
                                            height: 15px!important;
                                            }
                                        }
                                    }
                                }
                         .cart{
                .header-cart{
                    .but-cart{
                        .but-cart__text{
                            font-family: $m500;
                            font-size: 16px;
                            height: 15px;
                            }
                        .but-cart__icon{
                            svg{
                                width: 14px!important;
                                height: 15px!important;
                                }
                            }
                        }
                    }
                }
                        }
                    }
                }
            }
    }