.menu{
    margin-top: 10px;
    transition: all .4s;
    .d-flex{
        padding: 0 14px;
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            list-style-type: none;
            align-items: center;
            margin-bottom: 0;
            padding-top: 7px;
            padding-bottom: 7px;
            border-top: 1px solid #ccc;
            &:first-child{
                li:first-child{
                    padding-left: 0;
                    }
                }
            &:last-child{

                li:nth-child(5) {
                    padding-right: 0;
                    border-right: 0;
                } 

                li:last-child{
                    display: none;
                    }
                }
            li{
                display: flex;
                padding-left: 23.75px;
                padding-right: 23.75px;
                line-height: 1;
                align-items: center;
                border-right: 1px solid #ccc;
                padding-top: 5px;
                padding-bottom: 5px;
                span{
                    width: 11px;
                    height: 6px;
                    background-size: cover;
                    display: block;
                    margin-left: 5px;
                    margin-top: 3px;
                    }
                   a{
                        font-size: 16px;
                        color: #232323;
                        text-decoration: none;
                        }
                ul{
                    display: none;
                    li{
                        padding: 0;
                        }
                    }
                }
            }
        }
    }

    #menu-adaptive{
        position: fixed;
        display: none;
        top: 69.28px;
        left: 0;
        width: 100%;
        z-index: 800;

        .container-menu{
            padding: 30px 70px;
            background:#f4f4f4;
            box-shadow: 0 10px 15px rgba(0,0,0,.2);
            display: flex;

            }
        .menu-adaptive__catalog{
            width: 660px;
            ul{
                display: flex;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                padding-left: 0;
                list-style-type: none;
                li{
                    width: 169px;
                    font-family: $m900;
                    font-size: 16px;
                    line-height: 1;
                    a{
                        margin-bottom: 1rem;
                        color: #232323;
                        }
                    ul{
                        display: block;
                        li{
                            font-family: $m100;
                            font-size: 15px;
                            margin-bottom: 10px;
                            a{
                                color: #232323;
                                margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
            .menu-adaptive__main-menu{
                margin-left: 76.5px;
                width: 200px;
                .main-menu__item-name{
                    font-family: $m900;
                    font-size: 16px;
                    line-height: 1;
                    margin-bottom: 1rem;
                    }
                ul{
                    padding-left: 0;
                    list-style-type: none;
                    li{
                        font-family: $m100;
                        font-size: 15px;
                        margin-bottom: 10px;
                        a{
                            color: #232323;
                            }
                        }
                    }
                }
        }

        /***********media=========================**********/
        @media (max-width: 1170px) {
            .menu{
                display: none;
                }
        }
        @media (max-width: 1076px) {
            #menu-adaptive{
                .container-menu{
                    padding: 30px 30px;
                    }
                }
        }

        @media (max-width: 996px) {
            #menu-adaptive{
                .menu-adaptive__catalog{
                    width: 60%;
                    }
                 .menu-adaptive__main-menu{
                    margin-left: 44px;
                    }
                }
        }
         @media (max-width: 904px) {
            #menu-adaptive{

                .container-menu{
                    flex-direction: column;
                    align-items: center;
                    }
                .menu-adaptive__catalog{
                    width: 200px;
                    ul{
                        display: block;
                        li{
                            font-family: $m500;
                            margin-bottom: 15px;
                            ul{
                                display: none;
                                }
                            }
                        }
                    }
                 .menu-adaptive__main-menu{
                    margin-left:0;
                    .main-menu__item-name{
                        display: none;
                        }
                       ul{
                            li{
                                font-family: $m500;
                                margin-bottom: 15px;
                                }
                            }
                    }
                }
        }