.modal-my{
	.modal-dialog {
	    width: 385px;
	    margin: 30px auto;
	}
	.modal-header{
		border: none;
		padding: 40px 40px 0px;
		.modal-header__h2{
			color: #232323;
			font-size: 24px;
			font-family: Molot;
			line-height: 1.1;
			text-transform: uppercase;
			padding: 0 0 15px;
		}
		.modal-close{
		 	position: absolute;
		 	top: 20px;
		 	right: 20px;
		 	width: 20px;
			height: 20px;
			cursor: pointer;
			opacity: 1;
		    z-index: 1051;
	        -webkit-appearance: listbox;
			div {
				position: relative;
				width: 100%;
				height: 1px;
				background: rgba(17, 17, 17, 0.7);
				transition:all .4s ease;
				transform:rotate(135deg);
				top: 10px;
				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					left: 0;
					width: 100%;
					height: 1px;
					background: rgba(17, 17, 17, 0.7);
					transition:all .4s ease;
					top: 0;
        			transform:rotate(90deg);
				}
			}
			&:hover{
				div{
					background: rgba(17, 17, 17, 1);
					transform:rotate(225deg);
					&:before {
						background: rgba(17, 17, 17, 1);
					}
				}
			}
		 }
		.close {
			color: #000;
			&:hover, &:focus, &:active{
				outline: 0;
			}
		}
	}
	.modal-content{
		background: #fff;
		border-radius:0;
		// @include box-shadow(inset 0 -3px 118px 0 rgba(0, 1, 5, 0.05));
	}
	.modal-body{
		padding: 10px 40px 40px;
	}
	.form-my{
		.form-group{
			margin: 0 0 20px;
			label{
				display: none;
			}
			input, textarea{
				width: 100%;
				height: 40px;
				font-size: 14px;
				border: none;
				border-bottom: 1px solid #e2e2e2;
				background: transparent;
				color: #232323;
				font-size: 14px;
				font-family: Circe-Light;
				border-radius:0;
				box-shadow:none;
				&::-webkit-input-placeholder{
					color: #232323;
				}
				&::-moz-placeholder{
					color: #232323;
				}
				&:-moz-placeholder{
					color: #232323;
				}
				&:-ms-input-placeholder{
					color: #232323;
				}
				&.error{
					color: #a94442;
					border-color: #a94442;
					&::-webkit-input-placeholder{
						color: #a94442;
					}
					&::-moz-placeholder{
						color: #a94442;
					}
					&:-moz-placeholder{
						color: #a94442;
					}
					&:-ms-input-placeholder{
						color: #a94442;
					}
				}
			}
			textarea{
				max-width: 100%!important;
				min-width: 100%!important;
				min-height: 65px!important;
				max-height: 65px!important;
				border-radius:0;
			}
			.help-block{
				display: none;
			}
		}
		.help-block{
			margin: 0px!important;
			color: #a94442;
			font-size: 12px;
			font-family: Circe-Light;
		}
		.terms_of_use{
		    color: #959595;
		    font-size: 14px;
		    font-family: Circe-Light;
		    line-height: 1.2;
		    padding: 15px 0px 0px;
		    a{
				color: #959595;
				text-decoration: underline;
			}
		}
		.form-button{
			margin: 20px 0 0;
		}
		input[type="submit"], button{
			width: 100%;
			border: none;
			height: 50px;
			line-height: 50px;
			padding: 0 60px;
			pointer-events: all;
			box-shadow:none;
			span{
				pointer-events: none;
			}
			&:hover, &:focus, &:active{
				outline: 0;
				box-shadow:none;
			}
		}
	}
	.message-success{
		color: #207901;
	    font-size: 16px;
		font-family: Circe-ExtraBold;
	    text-align: left;
	}
	@media (min-width: 768px){
		.modal-dialog {
		    width: 385px;
		    margin: 30px auto;
		}
		/* @media (min-height: 690px){
			.modal-dialog {
			 			margin: auto;
			 			top: 50%;
			 			@include transform(translateY(-50%) !important);
			}
		} */
	}
}

@media (max-width: 768px){
	.modal-my{
		.form-my{
			input[type="submit"], button{
				height: 46px;
				line-height: 46px;
				padding: 0 40px;
			}
		}
	}
}

@media (max-width: 400px){
	.modal-my{
		.modal-dialog {
		    width: 300px;
		}
		.modal-header{
			padding: 30px 20px 0px;
			.box-style-heading{
				text-align: left;
				.before-text-tire{
					font-size: 14px;
				    padding: 30px 0 0;
				    &:before{
						top: 15px;
						left: 0;
				    }
				}
				.text-h2{
				    font-size: 20px;
				}
				.after-text{
					font-size: 14px;
					padding: 0 0 20px;
					br{
						display: none;
					}
				}
			}
		}
		.modal-body{
			padding: 10px 20px 30px;
		}
		.form-my{
			.form-captcha{
				position: relative;
    			left: -20px;
    			top: -5px;
				display: block;
				margin: 0 auto 10px;
				transform:scale(0.85);
			}
			.terms_of_use{
				font-size: 13px;
			}
			.form-button{
				margin: 10px 0 0;
			}
			input[type="submit"], button{
				height: 42px;
				line-height: 42px;
				padding: 0 40px;
			}
		}
	}
}

@media (max-width: 320px){
	.modal-my{
		.modal-dialog {
		    width: 90%;
		}
		.form-my{
			.form-captcha{
				position: relative;
    			left: -35px;
    			top: -10px;
				display: block;
				margin: 0 auto 10px;
				transform:scale(0.7);
			}
		}
	}
}