$m900:"MuseoSansCyrl-900";
$color-black: #232323;
$color-gray-black: #212121;
$color-white: #fff;

@mixin fontF($font, $size, $weight, $color){
    font-family: $font; font-size: $size; font-weight: $weight;  color: $color;
}

.products-attributes{
    .products-attributes_attribute{
        display: flex;
        align-items: center;
        .label-attribute{
            @include fontF($m900, 16px, 100, $color-black);
        }
    }
}

.product-sizes{
    display: flex;
    input[type="radio"] {
        position: absolute;
        visibility: hidden;
        display: none;
        &:checked{
            + label{
                background-color: $color-gray-black;
                @include fontF($m900, 16px, 600, $color-white);
            }
        }
    }
    label{
        padding: 3px 7px;
        border-radius: 2px;
        cursor: pointer;
        @include fontF($m900, 16px, 600, $color-black);
    }
    .products-sizes_size{
        margin: 10px 5px;
    }
}
