@charset "UTF-8";
.category-content .product-box__item {
  margin-left: 0; }
.category-content h1 {
  margin-bottom: 40px;
  font-size: 36px;
  font-family: "Georgia-Bold"; }

.category-box .category-box__sidebar {
  float: left;
  width: 270px; }
.category-box .category-box__content {
  float: right;
  width: calc(100% - 300px); }
.category-box:after {
  content: '';
  clear: both;
  display: block; }

.catalog-controls {
  width: 100%;
  height: 50px;
  margin: 0 0 30px;
  background: rgba(255, 255, 255, 0.7); }
  .catalog-controls .catalog-controls__sort {
    float: left;
    width: calc(100% - 270px);
    height: 100%; }
  .catalog-controls .catalog-controls__res {
    float: right;
    width: 250px;
    height: 100%; }
    .catalog-controls .catalog-controls__res .summary {
      float: left;
      width: calc(100% - 73px);
      color: #232323;
      font-size: 16px;
      font-family: Circe-Light;
      padding: 0 20px;
      line-height: 48px;
      text-align: right; }
    .catalog-controls .catalog-controls__res .template-product {
      float: right;
      width: 73px;
      text-align: center;
      padding: 13px 0px; }
      .catalog-controls .catalog-controls__res .template-product .template-product__grid, .catalog-controls .catalog-controls__res .template-product .template-product__list {
        display: inline-block;
        vertical-align: middle;
        height: 19px;
        margin: 0 4px; }
        .catalog-controls .catalog-controls__res .template-product .template-product__grid svg, .catalog-controls .catalog-controls__res .template-product .template-product__list svg {
          height: 100%; }
          .catalog-controls .catalog-controls__res .template-product .template-product__grid svg path, .catalog-controls .catalog-controls__res .template-product .template-product__list svg path {
            fill: #c1c1c1;
            transition: all .3s ease; }
        .catalog-controls .catalog-controls__res .template-product .template-product__grid.active, .catalog-controls .catalog-controls__res .template-product .template-product__grid:hover, .catalog-controls .catalog-controls__res .template-product .template-product__list.active, .catalog-controls .catalog-controls__res .template-product .template-product__list:hover {
          cursor: pointer; }
          .catalog-controls .catalog-controls__res .template-product .template-product__grid.active svg path, .catalog-controls .catalog-controls__res .template-product .template-product__grid:hover svg path, .catalog-controls .catalog-controls__res .template-product .template-product__list.active svg path, .catalog-controls .catalog-controls__res .template-product .template-product__list:hover svg path {
            fill: #232323; }
    .catalog-controls .catalog-controls__res:after {
      content: '';
      clear: both;
      display: block; }
  .catalog-controls:after {
    content: '';
    clear: both;
    display: block; }

.sort-box {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  color: #232323;
  font-size: 16px;
  font-family: Circe-Light;
  line-height: 1.1; }
  .sort-box .sort-box__header {
    position: relative;
    width: 200px;
    padding: 0 0 0 25px; }
  .sort-box .sort-box__body {
    width: 180px; }

.sort-box-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  z-index: 10; }
  .sort-box-wrapper .sort-box-wrapper__header {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 0px 20px 0 10px;
    position: relative; }
    .sort-box-wrapper .sort-box-wrapper__header.view-loading {
      background-position-y: 0px !important;
      background-position-x: 5px !important; }
    .sort-box-wrapper .sort-box-wrapper__header:after {
      content: "";
      width: 11px;
      height: 6px;
      position: absolute;
      top: 50%;
      right: 0;
      opacity: 0.6;
      background: url("../images/icon/icon-arrow.png") no-repeat;
      background-size: containe; }
  .sort-box-wrapper .sort-box-wrapper__body {
    position: absolute;
    z-index: -1;
    top: 48px;
    left: -1px;
    opacity: 0;
    width: calc(100% + 2px);
    max-height: 0;
    margin: 0px;
    padding: 0 15px;
    border: 1px solid #dcdcdc;
    border-top: none;
    background: #fff;
    overflow: hidden;
    list-style: none;
    transition: all .3s lenear; }
    .sort-box-wrapper .sort-box-wrapper__body .sort-box-wrapper__link {
      position: relative;
      padding: 0 0 12px; }
      .sort-box-wrapper .sort-box-wrapper__body .sort-box-wrapper__link:last-child {
        padding: 0; }
      .sort-box-wrapper .sort-box-wrapper__body .sort-box-wrapper__link.active, .sort-box-wrapper .sort-box-wrapper__body .sort-box-wrapper__link:hover {
        color: #9a49d0; }
  .sort-box-wrapper .sort-box-wrapper__link {
    display: block;
    cursor: pointer; }
  .sort-box-wrapper.active .sort-box-wrapper__header:after {
    opacity: 1;
    transition: all .3s lenear; }
  .sort-box-wrapper.active .sort-box-wrapper__body {
    z-index: 5;
    opacity: 1;
    padding: 10px 15px 20px;
    max-height: none;
    transition: all .3s lenear; }
  .sort-box-wrapper:hover .sort-box-wrapper__header {
    color: #9a49d0; }
    .sort-box-wrapper:hover .sort-box-wrapper__header:after {
      opacity: 1; }

@media (max-width: 1300px) {
  .category-box .category-box__sidebar {
    width: 235px; }
  .category-box .category-box__content {
    width: calc(100% - 260px); }

  .catalog-controls {
    width: 100%; }
    .catalog-controls .catalog-controls__sort {
      width: calc(100% - 240px); }
    .catalog-controls .catalog-controls__res {
      width: 220px; }
      .catalog-controls .catalog-controls__res .summary {
        width: calc(100% - 73px);
        font-size: 14px;
        padding: 0 15px;
        line-height: 48px; }
      .catalog-controls .catalog-controls__res .template-product {
        width: 73px;
        padding: 13px 0px; }
        .catalog-controls .catalog-controls__res .template-product .template-product__grid, .catalog-controls .catalog-controls__res .template-product .template-product__list {
          height: 19px;
          margin: 0 4px; }

  .sort-box {
    font-size: 14px; }
    .sort-box .sort-box__header {
      width: 180px;
      padding: 0 0 0 20px; }
    .sort-box .sort-box__body {
      width: 165px; } }
@media (max-width: 1100px) {
  .list-view .product-list {
    justify-content: space-around; }
    .list-view .product-list .product-box__item {
      width: 269px;
      margin-right: 0; }

  .category-box .category-box__sidebar {
    float: none;
    width: 100%; }
  .category-box .category-box__content {
    float: none;
    width: 100%; }

  .sidebar-box {
    position: relative;
    z-index: 1050;
    display: block; }
    .sidebar-box #store-filter {
      position: fixed;
      z-index: 1052;
      top: 0;
      left: -280px;
      width: 280px;
      height: 100vh;
      background: #fff;
      opacity: 0;
      pointer-events: none;
      transition: all .3s lenear;
      max-height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding: 0 15px; }
      .sidebar-box #store-filter.active {
        left: 0;
        opacity: 1;
        pointer-events: all;
        transition: all .3s; }
        .sidebar-box #store-filter.active .filter-content .filter-block {
          padding: 20px 0 10px; }
    .sidebar-box .sidebar-box__notFind {
      display: none; }
    .sidebar-box.active:after {
      pointer-events: all;
      z-index: 1040;
      background: rgba(0, 0, 0, 0.6); }
    .sidebar-box:after {
      content: '';
      display: block;
      position: fixed;
      z-index: -1040;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: rgba(0, 0, 0, 0);
      transition: all .3s lenear; } }
@media (max-width: 768px) {
  .catalog-controls .catalog-controls__sort {
    width: calc(100% - 90px); }
  .catalog-controls .catalog-controls__res {
    width: 90px; }
    .catalog-controls .catalog-controls__res .summary {
      width: 100%;
      font-size: 14px;
      padding: 0 15px 0 10px;
      line-height: 48px; }
    .catalog-controls .catalog-controls__res .template-product {
      display: none; } }
@media (max-width: 640px) {
  .list-view .product-list {
    justify-content: space-around; }
    .list-view .product-list .product-box__item {
      margin-bottom: 1rem;
      margin-right: 0; }

  .catalog-controls {
    height: 40px; }
    .catalog-controls .catalog-controls__res .summary {
      line-height: 38px; }

  .sort-box {
    font-size: 14px;
    height: 40px; }
    .sort-box .sort-box__header {
      width: 155px;
      padding: 0 0 0 15px; }

  .sort-box-wrapper {
    height: 40px; }
    .sort-box-wrapper .sort-box-wrapper__body {
      top: 38px; } }
@media (max-width: 615px) {
  .list-view .product-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .list-view .product-list .product-box__item {
      margin-bottom: 1rem;
      margin-right: 0; } }
@media (max-width: 480px) {
  .catalog-controls {
    position: relative;
    height: 40px; }
    .catalog-controls .catalog-controls__sort {
      width: 100%; }
    .catalog-controls .catalog-controls__res {
      width: 100%;
      height: 0; }
      .catalog-controls .catalog-controls__res .summary {
        position: absolute;
        top: -59px;
        right: 0px;
        width: auto;
        line-height: 38px;
        border: 1px solid #dcdcdc; }

  .sort-box {
    font-size: 14px;
    height: 40px; }
    .sort-box .sort-box__header {
      width: 160px;
      padding: 0 0 0 15px; }
    .sort-box .sort-box__body {
      width: calc(100% - 160px); }

  .sort-box-wrapper .sort-box-wrapper__header {
    padding: 0px 15px; }
    .sort-box-wrapper .sort-box-wrapper__header:after {
      width: 9px;
      height: 5px;
      margin-top: -3px;
      right: 10px; } }
.filter-content .but-reset {
  background: transparent;
  border: none;
  padding: 0; }
  .filter-content .but-reset span {
    display: inline-block;
    vertical-align: middle;
    color: #4a4a4a;
    font-size: 16px;
    font-family: Circe-Light;
    padding: 0 3px 0 0; }
  .filter-content .but-reset svg {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 17px;
    transition: all .3s linear; }
    .filter-content .but-reset svg path {
      fill: rgba(73, 73, 73, 0.89); }
  .filter-content .but-reset:hover, .filter-content .but-reset:focus, .filter-content .but-reset:active {
    outline: 0;
    box-shadow: 0; }
    .filter-content .but-reset:hover span, .filter-content .but-reset:focus span, .filter-content .but-reset:active span {
      color: #9a49d0; }
    .filter-content .but-reset:hover svg, .filter-content .but-reset:focus svg, .filter-content .but-reset:active svg {
      transform: rotate(30deg); }
      .filter-content .but-reset:hover svg path, .filter-content .but-reset:focus svg path, .filter-content .but-reset:active svg path {
        fill: #9a49d0; }
.filter-content .but-filter {
  width: 100%;
  font-size: 14px;
  padding: 0; }
  .filter-content .but-filter:hover, .filter-content .but-filter:focus, .filter-content .but-filter:active {
    outline: 0;
    box-shadow: none; }
.filter-content input, .filter-content textarea {
  width: 100%;
  height: 33px;
  border: 1px solid #e6e6e6;
  background: #fff;
  color: #383838;
  font-size: 14px;
  font-family: Circe-Light;
  border-radius: 0;
  box-shadow: none; }
  .filter-content input::placeholder, .filter-content textarea::placeholder {
    color: rgba(74, 74, 74, 0.8); }
.filter-content .filter-block-button button {
  width: 100%;
  border: none;
  margin-top: 25px;
  margin-bottom: 20px; }
  .filter-content .filter-block-button button:hover, .filter-content .filter-block-button button:focus, .filter-content .filter-block-button button:active {
    outline: 0;
    border: none; }

.ajax-loading {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none; }
  .ajax-loading:after {
    content: '';
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4) url("../images/ajax-loading.gif") center no-repeat !important; }
  .ajax-loading.active {
    opacity: 1; }

.list-view-loading {
  background: url("../images/loading.gif") no-repeat !important;
  background: transparent !important;
  background-position-y: 57px !important;
  background-position-x: 0 !important; }

.but-menu-filter {
  display: block;
  vertical-align: top;
  width: 125px;
  height: 40px;
  line-height: 39px;
  color: #232323;
  font-size: 14px;
  font-family: "MuseoSansCyrl-500";
  padding: 0 10px;
  text-align: center;
  border: 1px solid #e6e6e6;
  margin: 0 0 18px; }
  .but-menu-filter i {
    margin: 0 5px 0 0; }
  .but-menu-filter:hover, .but-menu-filter:focus, .but-menu-filter:active {
    outline: 0;
    box-shadow: none;
    color: #9a49d0; }
  @media (min-width: 1101px) {
    .but-menu-filter {
      display: none; } }

/* Блок для фильтра */
.filter-attributes__item {
  margin-top: 25px !important; }
  .filter-attributes__item .filter-attributes__name {
    color: #232323;
    font-family: "MuseoSansCyrl-900";
    font-size: 16px; }
  .filter-attributes__item .filter-block__body .checkbox {
    display: flex;
    padding-left: 0; }
    .filter-attributes__item .filter-block__body .checkbox input {
      display: none; }
      .filter-attributes__item .filter-block__body .checkbox input:checked + label::after {
        display: block; }
    .filter-attributes__item .filter-block__body .checkbox label {
      position: relative;
      padding-left: 30px; }
      .filter-attributes__item .filter-block__body .checkbox label::before {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        border: 1px solid #ccc;
        border-radius: 50%;
        top: 50%;
        left: 0;
        transform: translate(0, -50%); }
      .filter-attributes__item .filter-block__body .checkbox label::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background: #232323;
        border-radius: 50%;
        top: 50%;
        left: 3px;
        transform: translate(0, -50%);
        display: none; }

.filter-block {
  margin: -1px 0px 0px;
  padding: 23px;
  background: rgba(255, 255, 255, 0.7); }
  .filter-block.price {
    margin-top: 24px; }
  .filter-block .filter-block__header {
    color: #232323;
    font-size: 16px;
    font-family: "MuseoSansCyrl-900";
    line-height: 1.1;
    padding: 0 0 16px; }
  .filter-block .filter-block__item {
    color: #232323;
    font-size: 16px;
    font-family: Circe-Light;
    line-height: 1.1;
    padding: 0 0 13px; }
  .filter-block .filter-block__more {
    position: relative;
    color: #232323;
    font-size: 14px;
    font-family: "MuseoSansCyrl-500";
    line-height: 1.1;
    text-decoration: none;
    display: inline-block; }
    .filter-block .filter-block__more:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba(35, 35, 35, 0.7); }
  .filter-block.filter-block-header {
    min-height: 50px;
    padding: 0; }
    .filter-block.filter-block-header .filter-block__header, .filter-block.filter-block-header .filter-block__body {
      width: 100%; }
    .filter-block.filter-block-header .filter-block__body {
      width: 100%; }
      .filter-block.filter-block-header .filter-block__body .but-black {
        width: 100%;
        border: none; }
  .filter-block.filter-block__categoryes {
    background: transparent;
    padding: 0;
    margin-bottom: 20px; }
    .filter-block.filter-block__categoryes .filter-block__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative; }
      .filter-block.filter-block__categoryes .filter-block__list .filter-block__link {
        color: #232323;
        text-decoration: underline;
        font-family: "MuseoSansCyrl-500";
        margin-left: auto; }
        .filter-block.filter-block__categoryes .filter-block__list .filter-block__link.active {
          position: absolute;
          top: 0;
          right: 0; }
      .filter-block.filter-block__categoryes .filter-block__list .category-list-filter__item {
        margin-right: 15px; }
        .filter-block.filter-block__categoryes .filter-block__list .category-list-filter__item::last-child {
          margin-right: 0; }
        .filter-block.filter-block__categoryes .filter-block__list .category-list-filter__item input {
          display: none; }
        .filter-block.filter-block__categoryes .filter-block__list .category-list-filter__item label {
          padding: 10px 15px;
          border: 1px solid #c5c5c5;
          font-family: "MuseoSansCyrl-500";
          font-weight: normal;
          color: #4b4b4b;
          border-radius: 20px;
          cursor: pointer; }

/* Категории */
.category-list-filter {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .category-list-filter .category-list-filter__item a {
    color: #232323; }
  .category-list-filter .category-list-filter__item .category-list-filter__name {
    font-family: "MuseoSansCyrl-100";
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 54px); }
  .category-list-filter .category-list-filter__item .category-list-filter__count {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    color: #a3a3a3;
    text-align: right;
    letter-spacing: 1px; }
  .category-list-filter .category-list-filter__item:hover a {
    color: #b35573; }
  .category-list-filter .category-list-filter__item:hover .category-list-filter__count {
    color: #b35573; }

/* Цена */
.filter-block-price {
  margin: 0 0 15px; }
  .filter-block-price input {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 8px);
    margin: 0 4px 0 0; }
    .filter-block-price input:last-child {
      margin: 0 0 0 4px; }

/* Чекбоксы */
.filter-checkbox {
  display: block;
  min-height: 13px;
  margin: 0;
  padding: 0; }
  .filter-checkbox input[type="checkbox"]:not(:checked), .filter-checkbox input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
    .filter-checkbox input[type="checkbox"]:not(:checked) + label, .filter-checkbox input[type="checkbox"]:checked + label {
      position: relative;
      font-weight: normal;
      margin-bottom: 0;
      padding: 0 0 0 32px;
      cursor: pointer; }
      .filter-checkbox input[type="checkbox"]:not(:checked) + label:before, .filter-checkbox input[type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 3px;
        top: 5px;
        width: 7px;
        height: 7px;
        border: none;
        opacity: 0;
        background: #9a49d0;
        border-radius: 0;
        transition: all .3s linear; }
      .filter-checkbox input[type="checkbox"]:not(:checked) + label:after, .filter-checkbox input[type="checkbox"]:checked + label:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 2px;
        width: 13px;
        height: 13px;
        border: 1px solid #c5c5c5;
        background: transparent;
        border-radius: 0;
        transition: all .3s linear; }
  .filter-checkbox input[type="checkbox"]:not(:checked) + label:before {
    opacity: 0; }
  .filter-checkbox input[type="checkbox"]:checked + label:before {
    opacity: 1; }
  .filter-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #9a49d0; }

/* Выбранные фильтры */
.selected-filters {
  width: 100%;
  margin: 0 0 0 -15px; }
  .selected-filters .label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    font-weight: normal;
    background: transparent;
    color: #232323;
    font-size: 14px;
    font-family: Circe-Light;
    padding: 0 30px 11px 0;
    line-height: 1.0;
    text-align: center;
    -webkit-appearance: listbox;
    cursor: pointer;
    border-radius: 0;
    transition: all .3s linear; }
    .selected-filters .label:after {
      content: '';
      position: absolute;
      right: 15px;
      top: 2px;
      display: block;
      width: 8px;
      height: 8px;
      background: url("../images/icon/icon-close.png") no-repeat;
      background-size: contain; }
    .selected-filters .label:hover {
      cursor: pointer;
      background: transparent; }
  .selected-filters .reset-filter {
    display: inline-block;
    vertical-align: middle;
    background: #b35573;
    color: #fff;
    font-size: 14px;
    font-family: "MuseoSansCyrl-500";
    line-height: 1.0;
    padding: 5px 18px 4px;
    margin: 0 0 11px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    transition: all .3s linear; }
    .selected-filters .reset-filter:hover {
      color: #fff;
      background: #9a49d0; }
  .selected-filters strong {
    display: inline-block;
    vertical-align: middle;
    color: #232323;
    font-size: 14px;
    font-family: "MuseoSansCyrl-500";
    font-weight: normal;
    padding: 0 20px 11px 0; }
  .selected-filters.active {
    border: 1px solid #dcdcdc;
    padding: 12px 20px 0px;
    margin: 0 0 30px 0; }
  @media (min-width: 1000px) {
    .selected-filters#selected-filters2 {
      display: none; } }

@media (max-width: 1300px) {
  .filter-content .but-reset span {
    font-size: 14px;
    padding: 0 3px 0 0; }
  .filter-content .but-reset svg {
    width: 14px;
    height: 16px; }
  .filter-content .but-filter {
    font-size: 14px; }
  .filter-content input, .filter-content textarea {
    height: 30px;
    font-size: 14px; }

  /* Блок для фильтра */
  .filter-block {
    padding: 20px 15px 10px; }
    .filter-block .filter-block__header {
      font-size: 14px;
      line-height: 1.1;
      padding: 0 0 14px; }
    .filter-block .filter-block__item {
      font-size: 14px;
      line-height: 1.1;
      padding: 0 0 11px; }
    .filter-block .filter-block__more {
      font-size: 13px; }
    .filter-block.filter-block-header {
      min-height: 50px;
      margin: 0 0 30px; }

  /* Чекбоксы */
  .filter-checkbox input[type="checkbox"]:not(:checked) + label:before, .filter-checkbox input[type="checkbox"]:checked + label:before {
    top: 4px; }
  .filter-checkbox input[type="checkbox"]:not(:checked) + label:after, .filter-checkbox input[type="checkbox"]:checked + label:after {
    top: 1px; } }
@media (max-width: 1100px) {
  .selected-filters {
    width: 100%;
    margin: 0 0 20px; }
    .selected-filters.active {
      margin: 0 0 20px; } }
.list-view .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .list-view .product-list .product-box__item {
    margin-bottom: -30px; }

.viewed {
  padding-top: 15px;
  padding-bottom: 20px;
  background: #eaeaea;
  margin-top: 30px; }

@media (max-width: 640px) {
  .viewed {
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0; }
    .viewed .brend-image {
      margin-top: 35px; }
    .viewed .product-box {
      margin-bottom: 50px; } }
.notifications {
  display: none;
  position: fixed;
  z-index: 1050; }
  .notifications.top-right {
    right: 0;
    top: 25%; }
  .notifications > div {
    position: relative;
    z-index: 9999;
    background-color: #C1758D;
    border: 2px solid #C1758D;
    color: #fff;
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }

.product-view-content {
  padding-top: 30px;
  font-size: 16px;
  font-family: "MuseoSansCyrl-100";
  line-height: 1.5; }
  .product-view-content h3 {
    color: #9150c0;
    font-size: 18px;
    font-family: Circe-Bold;
    padding: 10px 0 5px;
    margin: 0; }

.product-view {
  padding: 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 39px;
  border-bottom: 1px solid #c9c9c9; }
  .product-view .product-view__img {
    order: -1;
    width: 585px;
    display: flex;
    border-right: 1px solid #d7d7d7; }
    .product-view .product-view__img .image-preview {
      width: calc(100% - 100px); }
      .product-view .product-view__img .image-preview img {
        width: 100%;
        display: block;
        margin: 0 auto; }
    .product-view .product-view__img .image-thumbnail {
      margin-right: 15px !important;
      width: 100px; }
    .product-view .product-view__img.product-view__img_2 .image-preview {
      float: none;
      width: 100%; }
    .product-view .product-view__img:after {
      content: '';
      clear: both;
      display: block; }
  .product-view .product-view__info {
    width: calc(100% - 585px);
    padding: 0 0 0 35px; }
    .product-view .product-view__info h1 {
      font-size: 35px;
      font-family: "Georgia-Bold";
      color: #000; }
    .product-view .product-view__info .properties-product-view {
      margin-bottom: 15px;
      margin-top: 10px; }
      .product-view .product-view__info .properties-product-view .key-value {
        display: flex; }
  .product-view .product-view__item {
    margin: 0 0 15px; }
  .product-view .product-view__spinput, .product-view .product-view__button {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 30px 25px 0; }
  .product-view .product-view__price {
    font-size: 16px;
    font-family: Circe-Regular;
    line-height: 1.1;
    margin: 0 0 25px; }
    .product-view .product-view__price .product-view__price_heading {
      color: #515151;
      font-family: Circe-ExtraBold;
      padding: 0 0 5px; }
    .product-view .product-view__price .product-price__result .price-result {
      color: #232323;
      font-size: 35px;
      font-family: "MuseoSansCyrl-900";
      line-height: 1.1; }
    .product-view .product-view__price .product-price__result .ruble {
      font-family: "MuseoSansCyrl-500";
      color: #232323; }
    .product-view .product-view__price .product-price__old {
      color: #5d5d5d;
      font-size: 20px;
      font-family: Circe-Light;
      line-height: 1.1;
      padding: 0 0 0 20px; }
  .product-view .product-view__spinput .spinput {
    width: 130px;
    height: 50px;
    line-height: 1.3;
    padding: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 0; }
    .product-view .product-view__spinput .spinput .spinput__minus, .product-view .product-view__spinput .spinput .spinput__plus {
      width: 20px;
      line-height: 50px;
      left: 15px; }
    .product-view .product-view__spinput .spinput .spinput__plus {
      left: auto;
      right: 15px; }
    .product-view .product-view__spinput .spinput .spinput__value {
      width: 2em;
      height: 48px; }
      .product-view .product-view__spinput .spinput .spinput__value:focus, .product-view .product-view__spinput .spinput .spinput__value:active, .product-view .product-view__spinput .spinput .spinput__value:hover {
        outline: 0;
        box-shadow: none; }
  .product-view .product-view__button {
    width: 100%;
    display: flex; }
    .product-view .product-view__button .but-black {
      align-items: center;
      justify-content: center;
      border-radius: 0;
      display: flex;
      width: 229px;
      height: 50px; }
      .product-view .product-view__button .but-black svg {
        width: 24px;
        height: 25px;
        fill: #fff; }
      .product-view .product-view__button .but-black span {
        margin-left: 12px; }
      .product-view .product-view__button .but-black:hover, .product-view .product-view__button .but-black:focus, .product-view .product-view__button .but-black:active {
        outline: 0;
        box-shadow: none; }
    .product-view .product-view__button .product-favorite {
      width: 50px;
      height: 50px;
      background: #fff;
      border: 1px solid #ccc;
      margin-left: 12px; }
      .product-view .product-view__button .product-favorite svg {
        fill: #232323;
        width: 26px;
        height: 25px; }
  .product-view:after {
    content: '';
    clear: both;
    display: block; }

.image-preview {
  width: 100%;
  max-width: 100%;
  height: auto;
  line-height: 456px;
  text-align: center;
  margin: 0 !important; }
  .image-preview .slick-list, .image-preview .slick-track, .image-preview .slick-slide {
    height: 100%; }
  .image-preview .image-preview__img {
    background: #fff; }
    .image-preview .image-preview__img img {
      display: inline-block;
      max-height: 98%; }
    .image-preview .image-preview__img a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%; }
      .image-preview .image-preview__img a:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        right: 13px;
        top: 13px;
        width: 17px;
        height: 17px;
        background: url("../images/icon/fullscreen.png") no-repeat; }

.image-thumbnail {
  width: 150px;
  margin: 0 !important; }
  .image-thumbnail .slick-track {
    margin: 0; }
  .image-thumbnail .image-thumbnail__box {
    height: 150px;
    line-height: 130px;
    padding: 10px 0; }
    .image-thumbnail .image-thumbnail__box:hover {
      cursor: pointer; }
      .image-thumbnail .image-thumbnail__box:hover .image-thumbnail__img:before {
        opacity: 1;
        transform: scale(1);
        transition: all .3s linear .3s; }
      .image-thumbnail .image-thumbnail__box:hover .image-thumbnail__img:after {
        opacity: 0;
        transition: all .3s linear; }
  .image-thumbnail .image-thumbnail__img {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center; }
    .image-thumbnail .image-thumbnail__img img {
      display: inline-block;
      max-height: 98%; }
    .image-thumbnail .image-thumbnail__img:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      width: 60px;
      height: 60px;
      opacity: 1;
      background: url("../images/icon/icon-hover-image.png") center no-repeat;
      transform: scale(0);
      transition: all .3s linear; }
    .image-thumbnail .image-thumbnail__img:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      transition: all .3s linear .3s; }
  .image-thumbnail .slick-prev, .image-thumbnail .slick-next {
    display: none !important;
    width: 10px;
    height: 25px; }
    .image-thumbnail .slick-prev svg, .image-thumbnail .slick-next svg {
      width: 10px; }
  .image-thumbnail .slick-prev {
    left: -20px; }
  .image-thumbnail .slick-next {
    right: -20px; }

.product-view-info {
  padding: 15px 0 0; }
  .product-view-info .product-view-info__tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #d7d7d7; }
    .product-view-info .product-view-info__tabs li {
      display: block;
      float: left;
      height: 49px;
      border-right: none;
      transition: all .3s ease; }
      .product-view-info .product-view-info__tabs li a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        color: #232323;
        font-size: 16px;
        font-family: Circe-Light;
        padding: 0 25px;
        transition: all .3s ease; }
        .product-view-info .product-view-info__tabs li a:hover {
          color: #9150c0; }
      .product-view-info .product-view-info__tabs li.active {
        background: #9150c0;
        background: -moz-linear-gradient(45deg, #9150c0 0%, #9a49d0 100%);
        background: -webkit-linear-gradient(45deg, #9150c0 0%, #9a49d0 100%);
        background: -ms-linear-gradient(45deg, #9150c0 0%, #9a49d0 100%);
        background: -o-linear-gradient(45deg, #9150c0 0%, #9a49d0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9150c0', endColorstr='#9a49d0',GradientType=1 ); }
        .product-view-info .product-view-info__tabs li.active a {
          color: #fff;
          font-family: Circe-Bold; }
    .product-view-info .product-view-info__tabs:after {
      content: '';
      clear: both;
      display: block; }
  .product-view-info .product-view-info__tab-content {
    padding: 25px 0px 0px; }
    .product-view-info .product-view-info__tab-content table {
      width: 100% !important;
      border: none; }
      .product-view-info .product-view-info__tab-content table tr td {
        border-color: #d7d7d7;
        padding: 8px 20px 6px; }
      .product-view-info .product-view-info__tab-content table tr:hover td {
        color: #fff;
        background: #9150c0; }
  .product-view-info:after {
    content: '';
    clear: both;
    display: block; }

@media (max-width: 1300px) {
  .product-view-content {
    font-size: 14px;
    line-height: 22px; }
    .product-view-content h3 {
      font-size: 16px; }

  .product-view {
    padding: 0 0 15px; }
    .product-view .product-view__img {
      width: 430px;
      padding: 0 30px 0 0;
      border-right: 1px solid #d7d7d7; }
      .product-view .product-view__img .image-preview {
        width: calc(100% - 130px); }
      .product-view .product-view__img .image-thumbnail {
        width: 100px; }
      .product-view .product-view__img.product-view__img_2 .image-preview {
        float: none;
        width: 100%; }
    .product-view .product-view__info {
      width: calc(100% - 430px);
      padding: 0 0 0 40px; }
    .product-view .product-view__item {
      margin: 0 0 15px; }
    .product-view .product-view__spinput, .product-view .product-view__button {
      margin: 0 25px 25px 0; }
    .product-view .product-view__spinput .spinput {
      width: 130px;
      height: 46px; }
      .product-view .product-view__spinput .spinput .spinput__minus, .product-view .product-view__spinput .spinput .spinput__plus {
        line-height: 46px; }
      .product-view .product-view__spinput .spinput .spinput__value {
        height: 44px; }
    .product-view .product-view__button {
      margin: 0 0 25px; }
    .product-view .product-view__price {
      font-size: 14px;
      line-height: 1.1;
      margin: 0 0 25px; }
      .product-view .product-view__price .product-view__price_heading {
        padding: 0 0 5px; }
      .product-view .product-view__price .product-price__result .price-result {
        font-size: 38px;
        line-height: 1.1; }
      .product-view .product-view__price .product-price__old {
        font-size: 18px;
        line-height: 1.1;
        padding: 0 0 0 20px; }

  .product-view-info .product-view-info__tabs li {
    height: 46px; }
    .product-view-info .product-view-info__tabs li a {
      font-size: 14px;
      padding: 0 20px; }
  .product-view-info .product-view-info__tab-content {
    padding: 20px 0px 0px; }
    .product-view-info .product-view-info__tab-content table tr td {
      padding: 8px 16px 6px; } }
@media (max-width: 1100px) {
  .product-view .product-view__img {
    width: 100%;
    padding: 15px 0px 0px;
    border-right: none;
    border-top: 1px solid #d7d7d7;
    display: flex;
    justify-content: center; }
    .product-view .product-view__img .image-preview {
      width: 50%; }
  .product-view .product-view__info {
    order: -1;
    width: 100%;
    padding: 30px 0 30px; }
  .product-view .product-view__spinput .spinput {
    width: 130px;
    height: 42px; }
    .product-view .product-view__spinput .spinput .spinput__minus, .product-view .product-view__spinput .spinput .spinput__plus {
      line-height: 42px; }
    .product-view .product-view__spinput .spinput .spinput__value {
      height: 40px; }
  .product-view .product-view__price {
    font-size: 14px;
    line-height: 1.1;
    margin: 0 0 25px; }
    .product-view .product-view__price .product-view__price_heading {
      padding: 0 0 5px; }
    .product-view .product-view__price .product-price__result .price-result {
      font-size: 36px;
      line-height: 1.1; }
    .product-view .product-view__price .product-price__old {
      font-size: 18px;
      line-height: 1.1;
      padding: 0 0 0 20px; } }
@media (max-width: 640px) {
  .product-view-content h3 {
    font-size: 15px; }

  .product-view .product-view__img {
    flex-direction: column; }
    .product-view .product-view__img .image-thumbnail {
      order: 2; }
    .product-view .product-view__img .image-preview {
      width: 100%; }
    .product-view .product-view__img .image-thumbnail {
      width: 100%; }
    .product-view .product-view__img.product-view__img_2 .image-preview {
      width: 100%; }
  .product-view .product-view__spinput .spinput {
    width: 110px;
    height: 36px; }
    .product-view .product-view__spinput .spinput .spinput__minus, .product-view .product-view__spinput .spinput .spinput__plus {
      line-height: 36px; }
    .product-view .product-view__spinput .spinput .spinput__value {
      height: 34px; }
  .product-view .product-view__price {
    font-size: 14px;
    line-height: 1.1;
    margin: 0 0 20px; }
    .product-view .product-view__price .product-view__price_heading {
      padding: 0 0 5px; }
    .product-view .product-view__price .product-price__result .price-result {
      font-size: 30px;
      line-height: 1.1; }
    .product-view .product-view__price .product-price__old {
      font-size: 18px;
      line-height: 1.1;
      padding: 0 0 0 20px; }

  .image-preview {
    height: 360px;
    padding: 10px 0px;
    line-height: 340px; }
    .image-preview .image-preview__img img {
      max-height: 95%; }

  .image-thumbnail {
    width: 100%;
    margin: 0 !important; }
    .image-thumbnail .image-thumbnail__box {
      height: 90px;
      line-height: 70px;
      padding: 10px 0; }
    .image-thumbnail .image-thumbnail__img img {
      max-height: 98%; }
    .image-thumbnail .image-thumbnail__img:before {
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      width: 40px;
      height: 40px; }

  .product-view-info .product-view-info__tabs li {
    height: 40px; }
    .product-view-info .product-view-info__tabs li a {
      font-size: 14px;
      padding: 0 16px; }
  .product-view-info .product-view-info__tab-content {
    padding: 20px 0px 0px; }
    .product-view-info .product-view-info__tab-content table tr td {
      padding: 7px 16px 5px; } }
.spinput {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1.3;
  color: #565656;
  padding: 0 1.8em;
  font-family: "MuseoSansCyrl-500";
  position: relative; }
  .spinput .spinput__minus, .spinput .spinput__plus {
    position: absolute;
    display: inline-block;
    width: 1.8em;
    line-height: 1.4;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: content-box; }
    .spinput .spinput__minus::before, .spinput .spinput__plus::before {
      font-size: 130%;
      content: '\2212'; }
  .spinput .spinput__plus {
    left: auto;
    right: 0; }
    .spinput .spinput__plus::before {
      content: '\2b'; }
  .spinput .spinput__value {
    margin: 0;
    width: 2em;
    height: 1.9em;
    background-color: #fff;
    text-align: center;
    vertical-align: baseline;
    border: none; }

.cart-block {
  display: block; }
  .cart-block .order-box {
    margin: 0px 0px 30px; }
    .cart-block .order-box h3 {
      font-family: "Georgia-Bold" !important;
      color: #565656; }
    .cart-block .order-box .cart-list-header {
      background: #b35573;
      color: #fff;
      font-size: 16px;
      font-family: "MuseoSansCyrl-900";
      text-transform: uppercase; }
      .cart-block .order-box .cart-list-header:after {
        display: table;
        clear: both;
        content: ""; }
      .cart-block .order-box .cart-list-header .cart-list__column {
        float: left;
        clear: none;
        width: 17%;
        text-align: center;
        line-height: 50px;
        border-right: 1px solid rgba(255, 255, 255, 0.2); }
        .cart-block .order-box .cart-list-header .cart-list__column:after, .cart-block .order-box .cart-list-header .cart-list__column:before {
          content: '';
          display: table; }
        .cart-block .order-box .cart-list-header .cart-list__column:after {
          clear: both; }
        .cart-block .order-box .cart-list-header .cart-list__column:last-child {
          margin-right: 0;
          border-right: none; }
      .cart-block .order-box .cart-list-header .cart-list__column_count {
        width: 15%; }
      .cart-block .order-box .cart-list-header .cart-list__column_info {
        float: left;
        clear: none;
        width: 44%;
        text-align: center; }
        .cart-block .order-box .cart-list-header .cart-list__column_info:after, .cart-block .order-box .cart-list-header .cart-list__column_info:before {
          content: '';
          display: table; }
        .cart-block .order-box .cart-list-header .cart-list__column_info:after {
          clear: both; }
        .cart-block .order-box .cart-list-header .cart-list__column_info:last-child {
          margin-right: 0; }
    .cart-block .order-box .cart-list__item {
      margin: 15px 0 0;
      padding: 0 0 15px;
      border-bottom: 1px solid #ebebeb; }
      .cart-block .order-box .cart-list__item:last-child {
        margin-bottom: 0;
        border-bottom: none; }
      .cart-block .order-box .cart-list__item .cart-item {
        position: relative;
        line-height: 90px; }
        .cart-block .order-box .cart-list__item .cart-item:after {
          display: table;
          clear: both;
          content: ''; }
        .cart-block .order-box .cart-list__item .cart-item .cart-item__info {
          position: relative;
          float: left;
          clear: none;
          text-align: inherit;
          width: 44%;
          padding: 0px; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__info:after, .cart-block .order-box .cart-list__item .cart-item .cart-item__info:before {
            content: '';
            display: table; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__info:last-child {
            margin-right: 0; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__info:after {
            display: table;
            clear: both;
            content: ''; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__info .cart-item__thumbnail {
            position: relative;
            display: block;
            float: left;
            width: 80px;
            height: 80px;
            overflow: hidden; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__info .cart-item__content {
            position: absolute;
            top: 50%;
            left: 95px;
            line-height: 1.5em;
            width: calc(100% - 100px);
            transform: translateY(-50%); }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__info span {
            text-align: center;
            display: block; }
        .cart-block .order-box .cart-list__item .cart-item .cart-item__img {
          position: absolute;
          top: 50%;
          left: 50%;
          max-width: 100%;
          max-height: 100%;
          transform: translate(-50%, -50%); }
        .cart-block .order-box .cart-list__item .cart-item .cart-item__category {
          color: #b8b8b8; }
        .cart-block .order-box .cart-list__item .cart-item .cart-item__title {
          line-height: 1.0; }
        .cart-block .order-box .cart-list__item .cart-item .cart-item__link {
          color: #232323;
          cursor: pointer;
          font-family: Circe-Regular;
          line-height: 1.0; }
        .cart-block .order-box .cart-list__item .cart-item .cart-item__quantity {
          float: left;
          clear: none;
          width: 17%;
          text-align: center; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__quantity:after, .cart-block .order-box .cart-list__item .cart-item .cart-item__quantity:before {
            content: '';
            display: table; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__quantity:after {
            clear: both; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__quantity:last-child {
            margin-right: 0; }
        .cart-block .order-box .cart-list__item .cart-item .cart-item__price, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ {
          float: left;
          clear: none;
          width: 17%;
          text-align: center;
          font-size: 18px; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__price:after, .cart-block .order-box .cart-list__item .cart-item .cart-item__price:before, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ:after, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ:before {
            content: '';
            display: table; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__price:after, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ:after {
            clear: both; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__price:last-child, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ:last-child {
            margin-right: 0; }
        .cart-block .order-box .cart-list__item .cart-item .cart-item__action {
          position: absolute;
          right: 15px;
          top: 50%;
          display: inline-block;
          font-size: 14px;
          line-height: 1em;
          cursor: pointer;
          transform: translateY(-50%); }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__action a {
            color: #b35573; }
          .cart-block .order-box .cart-list__item .cart-item .cart-item__action:hover {
            color: red; }
    .cart-block .order-box .order-box h3 {
      font-size: 22px;
      font-family: Circe-Bold;
      padding: 30px 0px 10px;
      margin: 0px; }
    .cart-block .order-box .order-box .order-box__body .order-box-delivery .order-box-delivery__address h3 {
      margin: 10px 0px; }
    .cart-block .order-box .order-box .order-box__body .order-box-delivery .order-box-delivery__address .order-form .order-form__row .order-form__item {
      margin: 0px 0px 10px; }
      .cart-block .order-box .order-box .order-box__body .order-box-delivery .order-box-delivery__address .order-form .order-form__row .order-form__item label {
        font-size: 16px;
        font-weight: normal;
        font-family: Circe-Regular; }
    .cart-block .order-box .order-box__bottom {
      width: 100%;
      font-size: 16px;
      font-family: Circe-Regular;
      margin: 10px 0px;
      text-align: right; }
      .cart-block .order-box .order-box__bottom .title_elem, .cart-block .order-box .order-box__bottom #cart-full-cost-with-shipping {
        font-size: 22px;
        font-family: "Georgia-Bold"; }
      .cart-block .order-box .order-box__bottom .cart-box__order-button {
        display: inline-block;
        width: 220px;
        margin: 15px 0px 0px; }
        .cart-block .order-box .order-box__bottom .cart-box__order-button .but-green {
          border: none; }

.rich-radio {
  display: block;
  margin-right: 20px;
  position: relative;
  left: 0px;
  font-size: 16px;
  font-family: Circe-Bold; }
  .rich-radio input[type="radio"] {
    vertical-align: top;
    width: 14px;
    height: 14px;
    margin: 0 3px 0 0; }
    .rich-radio input[type="radio"] + label {
      font-weight: normal;
      cursor: pointer; }
    .rich-radio input[type="radio"]:not(checked) {
      position: absolute;
      opacity: 0; }
      .rich-radio input[type="radio"]:not(checked) + label {
        position: relative;
        padding: 0 0 0 30px; }
        .rich-radio input[type="radio"]:not(checked) + label:before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0px;
          width: 18px;
          height: 18px;
          border: 2px solid #9150c0;
          border-radius: 50%;
          background: #fff; }
        .rich-radio input[type="radio"]:not(checked) + label:after {
          content: '';
          position: absolute;
          top: 8px;
          left: 6px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #9150c0;
          opacity: 0;
          transition: all .2s; }
    .rich-radio input[type="radio"]:checked + label:after {
      opacity: 1; }
  .rich-radio .rich-radio-body__text {
    font-weight: normal;
    color: #828282;
    font-size: 14px;
    font-family: Circe-Regular; }

@media (max-width: 1300px) {
  .cart-block .order-box .cart-list__item .cart-item .cart-item__price, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ {
    font-size: 16px; } }
@media (max-width: 1100px) {
  .cart-block .order-box .cart-list-header {
    font-size: 14px; }
  .cart-block .order-box .cart-list__item .cart-item .cart-item__price, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ {
    font-size: 16px; }
  .cart-block .order-box .order-box__bottom {
    font-size: 14px; }
    .cart-block .order-box .order-box__bottom .title_elem, .cart-block .order-box .order-box__bottom #cart-full-cost-with-shipping {
      font-size: 16px; } }
@media (max-width: 640px) {
  .notifications.top-right {
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    text-align: center; }
    .notifications.top-right > div {
      background-color: #9150c0;
      border: 2px solid #9150c0;
      border-radius: 0;
      padding: 10px 10px; }

  .cart-block .order-box .cart-list-header .cart-list__column {
    width: 20%;
    line-height: 50px; }
  .cart-block .order-box .cart-list-header .cart-list__column_price {
    display: none; }
  .cart-block .order-box .cart-list-header .cart-list__column_info {
    width: 55%; }
  .cart-block .order-box .cart-list-header .cart-list__column_sum {
    width: 17%; }
  .cart-block .order-box .cart-list__item .cart-item .cart-item__info {
    width: 55%;
    font-size: 13px; }
    .cart-block .order-box .cart-list__item .cart-item .cart-item__info .cart-item__thumbnail {
      width: 80px;
      height: 80px; }
    .cart-block .order-box .cart-list__item .cart-item .cart-item__info .cart-item__content {
      left: 85px;
      line-height: 1.3em;
      width: calc(100% - 85px); }
  .cart-block .order-box .cart-list__item .cart-item .cart-item__quantity {
    width: 20%;
    font-size: 13px; }
  .cart-block .order-box .cart-list__item .cart-item .cart-item__price, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ {
    width: 17%;
    font-size: 13px; }
  .cart-block .order-box .cart-list__item .cart-item .cart-item__price {
    display: none; }
  .cart-block .order-box .order-box h3 {
    font-size: 18px; }
  .cart-block .order-box .order-box .order-box__body .order-box-delivery .order-box-delivery__type .rich-radio {
    font-size: 14px; }
  .cart-block .order-box .order-box__bottom {
    font-size: 13px; }
    .cart-block .order-box .order-box__bottom .title_elem, .cart-block .order-box .order-box__bottom #cart-full-cost-with-shipping {
      font-size: 15px; } }
@media (max-width: 480px) {
  .cart-block .order-box .cart-list-header {
    display: none; }
  .cart-block .order-box .cart-list__item .cart-item {
    line-height: 50px; }
    .cart-block .order-box .cart-list__item .cart-item .cart-item__info {
      position: relative;
      width: 100%;
      padding-left: 120px; }
      .cart-block .order-box .cart-list__item .cart-item .cart-item__info .cart-item__thumbnail {
        width: 70px;
        height: 85px; }
      .cart-block .order-box .cart-list__item .cart-item .cart-item__info .cart-item__content {
        position: relative;
        left: auto;
        width: auto;
        display: inline-table;
        top: auto;
        vertical-align: middle;
        transform: inherit;
        padding-left: 10px; }
      .cart-block .order-box .cart-list__item .cart-item .cart-item__info:before {
        text-align: left;
        padding-left: 15px;
        background: #b35573;
        color: #fff;
        width: 110px;
        height: 100%;
        content: attr(data-text);
        display: block;
        position: absolute;
        left: 0px;
        top: 0px; }
    .cart-block .order-box .cart-list__item .cart-item .cart-item__quantity {
      position: relative;
      width: 100%;
      margin-right: 0px;
      text-align: left;
      padding-left: 120px; }
      .cart-block .order-box .cart-list__item .cart-item .cart-item__quantity:before {
        text-align: left;
        padding-left: 15px;
        background: #b35573;
        color: #fff;
        width: 110px;
        height: 100%;
        content: attr(data-text);
        display: block;
        position: absolute;
        left: 0px;
        top: 0px; }
    .cart-block .order-box .cart-list__item .cart-item .cart-item__price, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ {
      position: relative;
      width: 100%;
      margin-right: 0px;
      text-align: left;
      padding-left: 120px; }
      .cart-block .order-box .cart-list__item .cart-item .cart-item__price:before, .cart-block .order-box .cart-list__item .cart-item .cart-item__summ:before {
        text-align: left;
        padding-left: 15px;
        background: #b35573;
        color: #fff;
        width: 110px;
        height: 100%;
        content: attr(data-text);
        display: block;
        position: absolute;
        left: 0px;
        top: 0px; }
  .cart-block .order-box .order-box h3 {
    font-size: 16px; } }
/*  */
.pay {
  color: #232323; }
  .pay .pay-details .pay-details__items {
    padding: 8px 0 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .pay .pay-details .pay-details__items:after {
      content: '';
      clear: both;
      display: block; }
  .pay .pay-details .pay-details__left {
    float: left;
    width: 190px; }
    .pay .pay-details .pay-details__left label {
      font-weight: normal; }
  .pay .pay-details .pay-details__right {
    float: right;
    width: calc(100% - 190px); }
  .pay .pay-box .pay-box__header {
    font-size: 24px;
    padding: 35px 0px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .pay .pay-box .pay-box__items {
    display: table;
    width: 100%;
    margin: 10px 0 0;
    padding: 0 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .pay .pay-box .pay-box__name {
    display: table-cell;
    vertical-align: middle;
    width: calc(100% - 385px); }
    .pay .pay-box .pay-box__name a {
      color: #9150c0; }
    .pay .pay-box .pay-box__name .media {
      display: table;
      width: 100%; }
      .pay .pay-box .pay-box__name .media .img-thumbnail {
        display: table-cell;
        vertical-align: middle;
        width: 100px; }
      .pay .pay-box .pay-box__name .media .media-body {
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 40px; }
  .pay .pay-box .pay-box__price {
    display: table-cell;
    vertical-align: middle;
    width: 245px;
    text-align: center; }
  .pay .pay-box .pay-box__totalPrice {
    display: table-cell;
    vertical-align: middle;
    width: 125px;
    text-align: right; }
  .pay .pay-bottom .pay-bottom__items {
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .pay .pay-bottom .pay-bottom__items:after {
      content: '';
      clear: both;
      display: block; }
  .pay .pay-bottom .pay-bottom__left {
    float: left;
    width: calc(100% - 200px); }
  .pay .pay-bottom .pay-bottom__right {
    float: right;
    width: 200px;
    text-align: right; }
  .pay .pay-payments .pay-payments__header {
    color: #232323;
    font-size: 24px;
    padding: 35px 0px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .pay .pay-payments .payment-desc {
    color: #9150c0;
    padding: 0px 0px 30px; }
  .pay .pay-payments .pay-payments__button {
    padding: 15px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .pay .pay-payments .pay-payments__button button {
      border: none; }

#payment-methods {
  margin: 0;
  padding: 10px 0px;
  list-style: none; }
  #payment-methods .payment-method .description {
    font-family: Circe-Light;
    font-weight: normal;
    padding: 10px 0 10px 30px; }
    #payment-methods .payment-method .description p {
      margin: 0; }
    #payment-methods .payment-method .description img {
      width: 300px;
      max-width: 100%; }
  #payment-methods .logo-payment-box .logo-payment-box__item {
    width: 100px;
    height: 50px;
    line-height: 50px; }

@media (max-width: 768px) {
  .pay .pay-box .pay-box__header {
    font-size: 18px; }
  .pay .pay-box .pay-box__name {
    width: calc(100% - 310px); }
  .pay .pay-box .pay-box__price {
    width: 200px; }
  .pay .pay-box .pay-box__totalPrice {
    width: 100px; }
  .pay .pay-payments .pay-payments__header {
    font-size: 18px; }
  .pay .pay-payments .payment-desc {
    font-size: 14px; }
  .pay .pay-payments .pay-payments__button button {
    font-size: 18px; } }
@media (max-width: 640px) {
  .pay .pay-details .pay-details__left {
    width: 100%;
    float: none; }
  .pay .pay-details .pay-details__right {
    width: 100%;
    float: none; }
  .pay .pay-box .pay-box__header {
    font-size: 16px; }
  .pay .pay-box .pay-box__name {
    width: 100%;
    display: block; }
  .pay .pay-box .pay-box__price {
    width: 100%;
    display: block;
    text-align: right; }
  .pay .pay-box .pay-box__totalPrice {
    width: 100%;
    display: block;
    text-align: right; }
  .pay .pay-bottom .pay-bottom__left {
    width: calc(100% - 130px); }
  .pay .pay-bottom .pay-bottom__right {
    width: 130px; }
  .pay .pay-payments .pay-payments__header {
    font-size: 16px; }
  .pay .pay-payments .pay-payments__button button {
    font-size: 16px; }

  #payment-methods .payment-method .checkbox {
    font-size: 14px; }
  #payment-methods .payment-method .description {
    font-size: 13px; } }

/*# sourceMappingURL=index.css.map */
